[2021-02-12 09:04] #442 closed

[2021-02-12 15:37] freeh4ckcompany opened #450 "How can i change the menu like the menu on github ... (help menu)?"
I want to change the Look of Help menu. to make it more simple and nice looking.

[2021-02-12 15:46] Bacon-Fixation commented on #450
Check out #120

Much Love
-Bacon

[2021-02-12 18:47] Jaccosf opened #451 "Could not locate the binding files"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
When I try to start the bot, I w

[2021-02-12 19:03] Natemo6348 commented on #451
try running `npm rebuild better-sqlite3` as I originally said in #442

[2021-02-12 19:04] Bacon-Fixation commented on #451
have you run the `npm install` first?
 And did it have any errors during install?

"* Latest Python version" and "* Latest git version"isn't much help
Python should be 2.7.x as the [README.md](https://github.com/galnir/Master-Bot#setup) states

Much Love
-Bacon

[2021-02-12 19:09] Jaccosf commented on #451
This worked, tysm!

[2021-02-12 19:24] #451 closed

[2021-02-12 20:36] galnir commented on #448
I'm closing this so you can open a new issue and fill the template this time

[2021-02-12 20:36] #448 closed

[2021-02-12 20:55] Bacon-Fixation commented on #449
:D Heck Yeah, it's possible I can work on that.
I really love the idea

Much Love
-Bacon

[2021-02-13 01:25] Natemo6348 commented on #449
Ok thank you @Bacon-Fixation, main reason I thought of this is because I was given owner of a server and was trying to see who had what roles so I could adjust as needed, but every time it took forever to figure out who had what role, and then I had to figure out what every roles permissions were so that nobody could be given access to a channel when they're not supposed to have access, which also

[2021-02-13 03:16] Jriskamm commented on #432
does it affects usage of youtube api ket whether it's 5 search result or just 1

[2021-02-13 07:38] AayanAsim746 opened #453 "facing problem in advice.js"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-02-13 07:39] AayanAsim746 commented on #453
Fontconfig error: Cannot load default config file
(node:805) UnhandledPromiseRejectionWarning: DiscordAPIError: Invalid Form Body
embed.author.url: Scheme "adviceslip.com" is not supported. Scheme must be one of ('http', 'https').
    at RequestHandler.execute (/home/runner/Alisha/node_modules/discord.js/src/rest/RequestHandler.js:154:13)
    at processTicksAndRejections (internal/process/task_que

[2021-02-13 10:20] AayanAsim746 commented on #453
nvm i got the error

[2021-02-13 10:32] galnir commented on #453
Thanks for letting me know about the error, fixed in 06895ed

[2021-02-13 10:32] #453 closed

[2021-02-13 17:27] galnir commented on #445
Implemented in 98b3ab1
Let me know if you encounter bugs

[2021-02-13 17:27] #445 closed

[2021-02-13 18:14] galnir commented on #446
@TheRedyYT Please try following **all** the steps from the README again. If you still can't solve this problem, open a new issue and **fill the template**

[2021-02-13 18:14] #446 closed

[2021-02-13 18:15] galnir commented on #450
As bacon said, check out #120 to learn how to remove the default 'help' command. You can then write a new one to your liking

[2021-02-13 18:15] #450 closed

[2021-02-13 21:45] Bacon-Fixation commented on #449
@Natemo6348 Let me know if #452 fits your needs

Much Love
-Bacon

[2021-02-14 13:26] oneCHESSbro opened #454 "Hello"
Hello , can you make a video of installation, if you dont mind?

[2021-02-15 09:56] galnir commented on #454
If you're having trouble setting up the bot, you can ask for help here

[2021-02-15 10:09] Jaccosf opened #455 "Welcome message not showing"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
When someone joins the server, n

[2021-02-15 20:20] TrueMB commented on #445
Not sure if it is since this feature, but I got sometimes the problem, that the volume is much quieter than usual. Its like 1 out of 10 times

[2021-02-16 19:49] galnir commented on #455
@Bacon-Fixation Do you have any idea?

[2021-02-17 13:43] Bacon-Fixation commented on #455
i can test for it once i have stable power here, we have been in a black-out for the last few days with no water, i apologize for the inconvenience Texas was not ready for snow

[2021-02-17 13:47] Jaccosf commented on #455
No problem man, I can imagine that!

[2021-02-17 20:18] Bacon-Fixation commented on #455
Found this searching around from https://stackoverflow.com/questions/64618047/guild-member-add-does-not-work-discordjs
"
Discord made some changes a few days ago. The bot is not sending the welcome message because it never gets the guildMemberAdd event. From now on to get these types of events you will have to turn the intents on in the dev portal. After doing this your code will start working aga

[2021-02-17 21:43] Jaccosf commented on #455
Hi, I have tried that and copied the typos. Unfortunately this is not a solution already.

[2021-02-17 21:51] Bacon-Fixation commented on #455
Have you enabled the above settings in your discord [Developer console](https://discordapp.com/developers/applications/)?

i mentioned in the pr it wasn't a fix for this :D

[2021-02-17 21:53] Jaccosf commented on #455
Yes yes I know, I was talking about the screen you sent. I'm reinstalling the bot completely to check now.

[2021-02-17 21:57] Jaccosf commented on #455
Didn't work either.

[2021-02-17 22:37] Bacon-Fixation commented on #455
I mean no disrespect,
I can't seem to replicate this I've tried on my Raspi pi and my Windows system

I had a friend join a few times (message sent to a text channel called  `#bot-errors`, we also tried direct-message)
![image](https://user-images.githubusercontent.com/12632936/108275379-dece4000-713b-11eb-9011-e67ca8aedf59.png)

the `!show-welcome-message` command emits the `guildMemberAdd` event

[2021-02-18 08:28] Jaccosf commented on #455
After trying a couple of time and trying to look closer in the code, I have found out that the issue originates when I change the message destination with the !welcome-settings command.

[2021-02-18 08:36] Jaccosf commented on #455
I found it out! I forgot that every time you change the destination/url/text you need to enable the welcome message again.
Thank you very much Bacon!

[2021-02-18 13:04] Jaccosf commented on #455
Apparently there is a problem with my hosting and this combination. When I host it from the console from my PC, there won't occur any error, but I wat to host it through Heroku. I don't know if you do know where this problem comes from?

[2021-02-18 16:38] Bacon-Fixation commented on #455
Heroku restarts and wipes the DB every 24 hours and, not really a good choice for this feature
I would recommend a local host if possible.

Systems used to test Welcome Messages
- Local
Windows 10 (recommended)
Debian 10 (recommended)
raspberry OS 10 (arm7 and arm64  'My Main Host')

- Web
Heroku(Cons - 24 hour DB wipe and restart)
Glitch.com(Cons - Have to wake it up before use)
repl.it(Cons- Key

[2021-02-18 18:52] Jaccosf commented on #455
Mmhm, I will try to host it on my Raspberry Pi (Debian) tomorrow!

[2021-02-18 20:39] galnir commented on #454
I'm closing this issue, you're welcome to ask for help if you're having trouble setting up the bot

[2021-02-18 20:39] #454 closed

[2021-02-18 23:02] Bacon-Fixation commented on #455
im not sure if you saw this in the Wiki section for Running on a Pi here is the link just in case
https://github.com/galnir/Master-Bot/wiki/Running-the-bot-on-a-Raspberry-Pi

Much Love
-Bacon

[2021-02-20 17:01] Bacon-Fixation commented on #455
Just wanted to get back with you and see if you were still having issues with the Welcome message ?

Much Love
-Bacon

[2021-02-21 22:16] LilDerp-IsBetter opened #458 "Question"
So I noticed you integrated playlists into the bot and was wondering how users could play the lists they have made. Is this possible with where the bot is or would you be able to point me in the right direction

Thanks in advance

[2021-02-22 00:35] Jaccosf commented on #455
Thanks for asking! Unfortunately I was not able to work with my Raspberry Pi this week, I'll close this issue and if it doesn't work, I'll reopen it. For now I know enough! 👍

[2021-02-22 00:35] #455 closed

[2021-02-22 14:21] galnir commented on #458
!play playlistname
It will ask you if you want to search 'playlistname' on youtube or play your saved playlist(named 'playlistname')

[2021-02-22 17:18] Jriskamm opened #459 "hello, not sure if it's consider a bug but i wanted to add reactions for a command"
so i add
return message.react('👋') for leave command and an error pops out, but the command is working
<img width="106" alt="Screenshot (28)" src="https://user-images.githubusercontent.com/69320092/108744506-f7dc5400-7574-11eb-8d79-071bc95ffa90.png">
<img width="470" alt="Screenshot (29)" src="https://user-images.githubusercontent.com/69320092/108744514-f9a61780-7574-11eb-8df3-d8ddd81e6d0d.png">

[2021-02-22 17:57] galnir commented on #459
message.react [returns a promise](https://discord.js.org/#/docs/main/master/class/Message?scrollTo=react).
Remove the 'return' keyword

[2021-02-22 18:28] Jriskamm commented on #459
oh i got it. thankya so much

[2021-02-22 18:28] #459 closed

[2021-02-23 16:14] mrui0516 opened #460 "command !play"
**Explain your suggestion**
![image](https://user-images.githubusercontent.com/74146067/108872188-d40b2380-75f1-11eb-83d7-abd6b0c944ed.png)
 when i use !play to play a music bot doesnt give any sounds , and shows that erro ,and then the bot will Exit the channel automatically

[2021-02-23 16:34] Bacon-Fixation commented on #460
are you using the en tire Master-Bot or did you alter the index.js ?

[2021-02-23 16:39] mrui0516 commented on #460
i just changed last line code ，changed to my own code

Bacon Fixation <notifications@github.com>于周二, 23/02/202116:34写道：

[2021-02-23 16:40] Bacon-Fixation commented on #460
Really can't help you if you made modification, its in the Bug template my friend

[2021-02-23 16:43] mrui0516 commented on #460
i just changed to my own token

[2021-02-23 16:43] mrui0516 commented on #460
it has to change right?

[2021-02-23 16:44] Bacon-Fixation commented on #460
ah i see, nah i wouldn't call that a modification

[2021-02-23 16:46] Bacon-Fixation commented on #460
could you do me a favvor and fill out the template for a bug so we can have some more info to better help you

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the

[2021-02-23 16:51] #460 closed

[2021-02-24 12:52] LilDerp-IsBetter commented on #458
Thank you.

[2021-02-24 12:52] #458 closed

[2021-02-25 08:38] LilDerp-IsBetter opened #461 "Playlist"
The ability to change the name of playlists.

[2021-02-25 15:00] Natemo6348 commented on #461
This is also something I want, I can try to do it although I don't know if I can lol.

[2021-02-25 15:01] Bacon-Fixation commented on #461
i believe in you Natemo :D

Much Love
-Bacon

[2021-02-25 17:08] Natemo6348 commented on #461
well, i tried to do it and couldn't figure it out, not very good with databases lol

[2021-02-27 16:35] maali69 opened #463 "error code 429"
i tried to run it on replit but when i write !play "song name" i says "canot play song" and in the console it says error code "429/miniget error" in index.js. plz help

[2021-02-27 17:06] Bacon-Fixation commented on #463
Check out #353

429 Too Many Requests,

there is a daily rate limit when using the YouTube V3 API
it will return tomorrow

Much Love
-Bacon

[2021-02-27 17:33] #463 closed

[2021-02-28 06:09] SDelitegamer opened #464 "where is help.js"
where is help.js pls tell

[2021-02-28 14:02] deathxexm opened #465 "TypeError: Cannot read property 'volume' of null"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.
**Checked: A brand new empty folder with just your bot

[2021-02-28 14:37] Bacon-Fixation commented on #464
Check out #120

for more info on how to change/edit the Help command

Much Love
-Bacon

[2021-02-28 16:19] galnir commented on #465
Did you change something in play.js?

[2021-02-28 16:26] deathxexm commented on #465
No its totally original, I just copied everything from the zip into an empty folder and npm i and node index.js

[2021-02-28 16:34] galnir commented on #465
Did you generate the correct API keys?

[2021-02-28 16:55] deathxexm commented on #465
![image](https://user-images.githubusercontent.com/51823045/109426418-a591ac00-7a28-11eb-9fc5-5d4413d35620.png)
![image](https://user-images.githubusercontent.com/51823045/109426438-b17d6e00-7a28-11eb-858a-e69d91e6ba68.png)

The console cant see in full but this is what when copied:
AIzaSyDtxXpWLYKxo_Kt1YX5tud0sldHmYBWCGs

Is correct

[2021-02-28 16:56] deathxexm commented on #465
I try recopy every bot files again and see if the problem still persists

[2021-02-28 16:57] galnir commented on #465
I deleted your comment, never post your API keys anywhere.
Did you install Git?

[2021-02-28 16:58] deathxexm commented on #465
Yes, I have git installed, and used it to host my older discord js bot before which does not work anymore after some modules update. Should I try Git Bash to host this?

[2021-02-28 17:10] deathxexm commented on #465
Tried to "reinstall" the bot, uses git, still this error:
![image](https://user-images.githubusercontent.com/51823045/109426892-d1ae2c80-7a2a-11eb-8dd1-75c51d6f6300.png)

[2021-02-28 17:13] deathxexm commented on #465
Python installation & Git:
![image](https://user-images.githubusercontent.com/51823045/109426996-484b2a00-7a2b-11eb-84c0-b4ded8c6b1dc.png)
![image](https://user-images.githubusercontent.com/51823045/109427012-5ac56380-7a2b-11eb-9d02-e796edbecf85.png)

[2021-02-28 17:47] deathxexm commented on #465
I even tried to use git clone instead of extracting zip, now even "npm i" having problem installing dependencies

[2021-02-28 17:50] galnir commented on #465
It's probably because it failed to install better-sqlite3
Can you paste the log specifically where it failed

[2021-02-28 17:52] deathxexm commented on #465
https://pastebin.com/cD4R3dHK

[2021-02-28 17:59] deathxexm commented on #465
Should I try reinstall Microsoft BuildTools?

[2021-02-28 18:26] deathxexm commented on #465
Strange, "npm i" using git bash do not work, but using windows powershell works perfectly. No build errors

[2021-02-28 18:38] deathxexm commented on #465
From the TypeError log, it failed in line 311:
![image](https://user-images.githubusercontent.com/51823045/109429562-3d969200-7a37-11eb-8057-72bed3d41bff.png)

[2021-02-28 20:20] galnir commented on #464
Issue 120 should sum it up, closing this issue

[2021-02-28 20:20] #464 closed

[2021-02-28 20:22] galnir commented on #465
It won't work because better-sqlite3 failed during ```npm i```.
Can you try to ```npm install -g windows-build-tools``` then ```npm i``` again?

[2021-03-01 04:53] deathxexm commented on #465
npm install -g windows-build-tools
Using this build still fails. I used
npm install -- vs2015 -g windows-build-tools
and the build works fine, however the TypeError: Cannot read property 'volume' of null still isnt solved.

[2021-03-01 05:22] deathxexm commented on #465
Or u want to try to send me node_modules of yours for this bot?

[2021-03-01 10:10] #461 closed

[2021-03-01 14:55] Natemo6348 commented on #465
Btw what I do when better-sqlite3 fails to build is `npm rebuild better-sqlite3` which usually works

[2021-03-01 17:31] deathxexm commented on #465
Tried, still cannot read property 'volume' of null

[2021-03-01 20:05] galnir commented on #465
Try deleting your node_modules folder and your package-lock.json. Then open cmd **as admin** and enter **npm i** again. If it fails send the log again.
It's kinda hard to debug issues like yours, if you google that error you get dozens of options to why it fails. Anyway I'll try my best to help you

[2021-03-01 20:26] deathxexm commented on #465
Modules building successfully. However, playing song still the same error:
![image](https://user-images.githubusercontent.com/51823045/109554649-730eae80-7b0f-11eb-9935-090b2356e1c2.png)

[2021-03-02 07:29] galnir commented on #465
@deathxexm Can you paste the log of npm rebuild better-sqlite3?

[2021-03-02 07:54] deathxexm commented on #465
https://pastebin.com/QY6e0NP3

*cmd with Administrator permission

[2021-03-02 11:45] galnir commented on #465
@deathxexm Do you get an error if you try to initiate a music trivia?
```!music-trivia 5```
For example ^

[2021-03-02 12:37] deathxexm commented on #465
![image](https://user-images.githubusercontent.com/51823045/109649466-ead3ec00-7b96-11eb-8c84-1568187df126.png)

[2021-03-02 12:42] deathxexm commented on #465
Also, using that command makes the bot process use up 5.8GB and still getting more and more and using 18MB/s of download speed

[2021-03-02 12:42] deathxexm commented on #465
So I ended the process using task manager

[2021-03-02 13:40] galnir commented on #465
@deathxexm
1. It can actually use that much ram
2. Is youtube available in your country? Either you generated an incorrect api key or YouTube isn't available in your country. Google the second error

[2021-03-02 13:42] deathxexm commented on #465
I'm from Malaysia so Youtube is fully accessible

[2021-03-02 13:43] deathxexm commented on #465
So I should regenerate a new youtube API key

[2021-03-02 13:48] galnir commented on #465
@Bacon-fixation can you link your comment on how to properly generate an API key? I can't find it

[2021-03-02 16:05] Bacon-Fixation commented on #465
Hehe i didn't have on for the Youtube Key but i do now :D

* Head to the [Google Dev Console](https://console.developers.google.com/apis/dashboard) and create a project if you don't have one already
![image](https://user-images.githubusercontent.com/12632936/109673332-8cc5eb00-7b3b-11eb-940f-f7713d772b27.png)

* then Goto the [Dashboard](https://console.developers.google.com/apis/dashboard) for yo

[2021-03-02 17:49] deathxexm commented on #465
Recreated another api-key using your procedure, and created a config with appropriate content, still cannot read property volume

[2021-03-02 18:07] Bacon-Fixation commented on #465
just curious why is the path to python is missing from your Environments Picture
![image](https://user-images.githubusercontent.com/12632936/109693709-9c4f2f00-7b4f-11eb-88da-3293703d020f.png)

when you install python did you enable the PATH to Python option in the installer
![image](https://user-images.githubusercontent.com/12632936/109693952-dcaead00-7b4f-11eb-815a-ac0d0da5e54d.png)

[2021-03-02 18:08] deathxexm commented on #465
Well tried !music-trivia 5, and...
![image](https://user-images.githubusercontent.com/51823045/109693958-37ceb700-7bc5-11eb-9420-523acb5700d1.png)

No Error messages but this

[2021-03-02 18:10] deathxexm commented on #465
Because the screenshot I send is user variables. Python path is in System variable, like this:

![image](https://user-images.githubusercontent.com/51823045/109694289-9ac04e00-7bc5-11eb-9dd3-63bc55241efd.png)

[2021-03-02 18:13] deathxexm commented on #465
Oh and also, no music is played. And when I do !end-trivia, this error pops out from bot:
![image](https://user-images.githubusercontent.com/51823045/109694709-14f0d280-7bc6-11eb-814a-cd5bcc83cb76.png)

[2021-03-02 18:43] Bacon-Fixation commented on #465
Also noticed in your log that you were using Visual Studio 2019 to build

check out step 4 [better-sqlite3 troubleshooting](https://github.com/JoshuaWise/better-sqlite3/blob/03f382a3ba1977feeb57ff1349c628b846d8b8b3/docs/troubleshooting.md)
they want 2015 and 2017 just a shot in the dark I hope this helps

Much Love
-Bacon

[2021-03-02 19:10] deathxexm commented on #465
Are you guys still using NodeJS v12? I saw 2 modules say they will break with v14+

[2021-03-02 19:11] galnir commented on #465
@deathxexm which modules?

[2021-03-02 19:13] deathxexm commented on #465
npm WARN deprecated babel-eslint@10.1.0: babel-eslint is now @babel/eslint-parser. This package will no longer receive updates.
npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm WARN deprecated cheerio-select-tmp@0.1.1: Use cheerio-select instead
npm WARN deprecated node-pre-gyp@0.15.0: Please upgrade to @mapbox/node-pre-g

[2021-03-02 19:14] deathxexm commented on #465
The initial warnings include some deprecated modules and some "will break on node v14+"

[2021-03-02 19:26] Bacon-Fixation commented on #465
I'm on v14.16.0 and works for me

[2021-03-02 19:35] deathxexm commented on #465
I try to update my nodejs from v14.8 to v14.16 (likely too outdated)

[2021-03-02 19:45] deathxexm commented on #465
Still same error cannot read property volume of null

[2021-03-02 20:57] galnir commented on #465
Can you paste your index.js file?

[2021-03-03 04:32] deathxexm commented on #465
https://codeshare.io/G7qwZY

[2021-03-03 12:11] TrueMB opened #466 "Music Quiz Vote Skip"
Hello!

I would appriciate, if you guys could add an Song Skip Vote in the Music Quiz.
Atm you cant skip the Songs and get the message, to stop the Quiz.

It would be awesome that instead there is a message "Do you wanna Skip?" ✔️ ❎
and all the Music Quiz participents can vote. Since I think the Emote will be more difficult to handle, the command would be enough.
2x People wanna skip -> both do th

[2021-03-04 08:43] galnir commented on #465
I honestly can't wrap my head around why you're getting this error. Somehow a 'finish' event is emitted instead of an 'error' event.

Did the bot generate a json.sqlite file in your bot directory?

[2021-03-04 18:13] deathxexm commented on #465
Yes

[2021-03-04 18:17] galnir commented on #465
Okay let's narrow it down.
When you enter ```!play songname```, do you get back an embed with songs to choose from?

[2021-03-05 04:41] deathxexm commented on #465
Yes it does show choosing 1 to 5 from search results

[2021-03-05 04:43] deathxexm commented on #465
And when example I choose "1", the bot joins, and the console immediately log the property volume error

[2021-03-05 04:45] deathxexm commented on #465
It is able to search and choose the results appropriately. Something is wrong when it trying to play the song

[2021-03-05 08:39] galnir commented on #465
We've narrowed it down to ytdl-core. I've searched online and on ytdl-core's discord and from what I've read, this issue can appear when a video is either private or not available in your region. But as you said YouTube is not blocked in your country and the videos are not private.
1. Do you by any chance use some kind of a VPN?
2. My last suggestion is to try to ```npm i ytdl-core@latest```

[2021-03-11 20:49] ThatGuyJacobee commented on #465
I've been getting this volume error too, it's extremely weird not too sure what's happening.

[2021-03-11 21:03] ThatGuyJacobee commented on #465
I have no clue what's going on, but for some reason it only works when the folder is on my desktop? I'm so confused I tried putting it into any folder and it always caused the volume error, but when I place it on the desktop and run it from there the error disappears and it works perfectly fine. I'm really confused. 🤔

[2021-03-11 21:41] ThatGuyJacobee commented on #465
Okay I've been playing around, it seems the directory apparently can't have a space or something because I just tried it in a folder without spaces and it works in any of those, but as soon as I try in a folder with a space it creates an error. But once again I have no clue why this is going on.

[2021-03-11 22:46] ThatGuyJacobee commented on #465
I've been testing it and for some reason it seems if there's a space in a folder name, it causes the issue to form? Maybe some accident somewhere in the node modules, not too sure but it seems like it. I've tried running it in multiple folders and it only ran in ones without a space in the folder name. Very strange.

[2021-03-12 04:14] deathxexm commented on #465
This fixed it for me, folder cannot have spaces.

[2021-03-12 07:10] galnir commented on #465
I'm gonna remember that for future issues lol

[2021-03-12 07:10] #465 closed

[2021-03-14 22:56] Natemo6348 opened #467 "Reddit command only works when time filter is in lowercase"
If I try to use the Reddit command and I'm prompted to enter a time filter, it will only work if I type it in lowercase

[2021-03-15 15:24] galnir commented on #467
Fixed in 3dba8aa, thanks for opening this issue :)

[2021-03-15 15:24] #467 closed

[2021-03-16 08:44] muhitrhn opened #468 "Include attachments in “Say.js” command"
I was hoping if you guys could add the image including functionality to the “Say.js” command.

It would be great if the replies with the say text and attached image!
Thank you.

[2021-03-17 16:42] muhitrhn commented on #468
Anyone?
@Bacon-Fixation ?

[2021-03-17 16:44] galnir commented on #468
Meaning the ability to pass an image and have the bot send it? Or do you mean the bot will send the text in a canvas?

[2021-03-17 16:58] muhitrhn commented on #468
Yes, the first one

[2021-03-17 18:03] alonalibarmn opened #469 "[Suggestion] Could you add a DJ role sorta thing?"

[2021-03-17 18:19] Natemo6348 commented on #469
this has already been asked in #234

[2021-03-17 20:58] muhitrhn commented on #468
Can you help with that?

[2021-03-18 00:08] ThatGuyJacobee commented on #468
var embed = new MessageEmbed()
      .setTitle(`Just wanted to say...`)
      .setColor('#888888')
      .setDescription(text)
      .setTimestamp()
      .setFooter(
        `${message.member.displayName}, made me say it!`,
        message.author.displayAvatarURL()
      );

Add `.setImage('URL LINK')` to anywhere within the message embed.

[2021-03-18 06:58] muhitrhn commented on #468
Not this, i wanted to send an image and the bot will instantly send it back. No local image. Just like @galnir said.

[2021-03-18 08:07] muhitrhn commented on #468
Something like this (doesn’t work)!
`run(message, { text }) {
    let image = message.attachments.array().length == 0 ? null:message.attachments.first().url;
    var embed = new MessageEmbed()
      .setColor('#888888')
      .setDescription(text)
      .setImage(image)
      .setTimestamp();
    message.channel.send(embed);
  } `

[2021-03-18 15:54] Natemo6348 opened #470 "TypeError: message.guild.resetMusicDataOnError is not a function"
Whenever I try to play a song/saved playlist, I always get the error `TypeError: message.guild.resetMusicDataOnError is not a function` in `play.js` on line 367

[2021-03-18 16:02] Natemo6348 commented on #470
I actually may have found my issue, but I can't test right now, so I'll close and reopen if I still have the issue.

[2021-03-18 16:04] galnir commented on #470
Did you pull the new changes from index.js? That's a new function I added

[2021-03-18 16:32] Natemo6348 commented on #470
Oh I see, I guess it didn't pull changes the last time I did `git pull`, thanks

[2021-03-18 18:11] galnir commented on #468
I get the point, but isn't that a redundant feature? The image you attach will appear in chat and then the bot will send it, making it appear twice in total

[2021-03-18 18:18] muhitrhn commented on #468
Yes it is, but i want the image published as the bot, i will delete my message including the image afterwards.

[2021-03-18 18:20] muhitrhn commented on #468
It will be better if the bot deletes my response messages automatically after triggering “say” command.

[2021-03-18 18:22] Natemo6348 commented on #470
Ok now I'm getting `TypeError: Cannot read property 'find' of undefined` when trying to play music at all, the embed with search results doesn't show up

[2021-03-18 20:47] muhitrhn commented on #468
Please let me know if you could help.

[2021-03-19 08:05] muhitrhn commented on #468
This code worked for once when i pushed the changes of the codes. But after that, it is showing error in the console log `(node:23) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise

[2021-03-19 09:05] swayam-crypto opened #471 "Error: Cannot find module './config.json'"
Error: Cannot find module './config.json'

[2021-03-19 09:22] galnir commented on #470
Do you pull changes from this repo using Git or do you simply copy code over to your machine?

[2021-03-19 09:39] galnir commented on #471
Read the README before opening an issue. You need to create a config.json file that will hold your API keys

[2021-03-19 09:58] swayam-crypto commented on #471
what are API keys?

[2021-03-19 10:00] galnir commented on #471
If you have no idea what API keys are or how to run nodejs programs I don't recommend you to host this bot yourself for now. Read some guides online and come back

[2021-03-19 10:03] swayam-crypto commented on #471
from where to learn?
all user have different keys?

[2021-03-19 10:06] galnir commented on #471
Read [this](https://dev.to/galnir/how-to-make-a-discord-music-bot-3c0p). The last part under 'Next' is outdated so read the README instead.
If you encounter **bugs**, not setup problems, open a new issue

[2021-03-19 10:06] #471 closed

[2021-03-19 10:08] swayam-crypto commented on #471
ok thanks
which modules will i need to install?

[2021-03-19 10:58] galnir commented on #471
@swayam-crypto read the guide

[2021-03-19 12:44] swayam-crypto opened #472 "How To Install quick.js"
How To Install quick.js

[2021-03-19 13:04] Natemo6348 commented on #470
I pull changes using git

[2021-03-19 13:09] Natemo6348 commented on #470
I will try making another fresh clone and see if that fixes it

[2021-03-19 14:21] muhitrhn commented on #468
Okay i have achieved the functionality! The only thing i need help with is, i want the bot to automatically delete the commands i sent. Please see the screenshot attached. Can you help me with auto deleting these messages by the bot after completion of the command?
![76060A05-EAF3-4B6C-947E-061547589663](https://user-images.githubusercontent.com/36473811/111794587-964ba300-88f0-11eb-8daa-62ff6420f

[2021-03-19 14:30] #472 closed

[2021-03-19 14:31] swayam-crypto opened #473 "How To Install quick.db"
How to Install quick.db

[2021-03-19 14:51] galnir commented on #473
If you pulled this repo just hit ```npm i```

[2021-03-19 14:52] galnir commented on #469
As Natemo said, I said before that I might look into implementing it in the future. I've got some changes I wanna make before adding more music features

[2021-03-19 14:52] #469 closed

[2021-03-19 14:53] galnir commented on #468
Take a look at say.js as it is now. I pushed a commit today that deletes the user's message after the execution of the command

[2021-03-19 15:43] muhitrhn commented on #468
Thank you. It worked!

[2021-03-19 15:57] muhitrhn opened #474 "Remove multiple options of songs on “play” command"
Can you please tell me how can i make the “play” command to play the first result automatically? I don’t want to select from the result, i want the first result to play automatically upon executing command. @galnir @Bacon-Fixation
![FAD3C95E-52F9-4CDE-A5D2-7D5793F40C59](https://user-images.githubusercontent.com/36473811/111808328-1c221b00-88fe-11eb-8142-0d6f41b22508.jpeg)

[2021-03-19 19:09] muhitrhn commented on #468
I had to reopen this issue, can you please tell me a way to include the attachment in the embed?

[2021-03-19 19:13] Bacon-Fixation commented on #468
.attachFiles(lattachment) in your message embed

[2021-03-19 19:28] muhitrhn commented on #468
I tried that, but seems it didn’t work. Besides, seems the text is going under the image now (please check attached image). Here is my code -
`run(message, { text }) {
      if ( message.attachments.size > 0 ) {
        var lattachment = message.attachments.first();
      }
    var embed = new MessageEmbed()
      .setColor('#888888')
      .setDescription(text)
      .attachFiles(lattachment)

[2021-03-19 20:15] Natemo6348 commented on #468
If you really want the text to be above the image, you could do setTitle instead of setDescription

[2021-03-19 20:19] Natemo6348 commented on #470
@galnir even after fresh clone I still get the `TypeError: Cannot read property 'find' of undefined` error. I am running another instance of the bot, both on replit, and it doesn't get the error.

[2021-03-19 20:30] muhitrhn commented on #468
I tried that, doesn’t change anything.

[2021-03-19 20:31] Bacon-Fixation commented on #468
sorry i was away,  but I'm back
here you go

![image](https://user-images.githubusercontent.com/12632936/111838934-072a9500-88c8-11eb-9c48-9086f2584fb8.png)

[code]

Much Love
-Bacon

[2021-03-19 20:37] Bacon-Fixation commented on #468
heads up

no need for the var it doesn't change you can add the image after
`lattachment` was pointed to a map and not to a URL path
but you had it close my friend

[2021-03-19 20:47] muhitrhn commented on #468
Aah, missed it for for a bit, was so close. Thank you @Bacon-Fixation for helping getting it done. And once again, it’s really good to see you again!

[2021-03-19 20:49] muhitrhn commented on #468
See you on that issue!

[2021-03-19 20:49] #468 closed

[2021-03-20 10:31] swayam-crypto opened #475 "IN Discord When I M Typing say then the bot is responding 2 times"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-03-20 11:11] galnir commented on #475
You're running the bot twice. Check if there is another instance running under the same token

[2021-03-20 11:14] swayam-crypto commented on #475
No I am Running The Bot Once
And No One Has Another Token

[2021-03-20 11:15] swayam-crypto commented on #475
BTW How To Make The Help Command In Embed and where have u Kept The Help.js??

[2021-03-20 11:23] galnir commented on #475
If the bot is responding twice you're running it twice, no other way for it to happen.
#120 will answer your question

[2021-03-20 11:32] swayam-crypto commented on #475
@galnir sir but my all command are replying single time but say command is responding 2 times

[2021-03-20 11:50] swayam-crypto opened #476 ":mag: :notes: Searching for lyrics! @ΜΔĐ乛TeamIG, :x: No song has been found for this query"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-03-20 11:50] swayam-crypto commented on #476
![image](https://user-images.githubusercontent.com/80890491/111868546-960ae080-89a0-11eb-867f-14bd7b2d3d01.png)

[2021-03-20 12:46] swayam-crypto opened #477 "MineCraftserverutil"
**Explain your suggestion**
We Can Add A Feature Of Mcserver And Call-Of-Duty and Userinfo.js too
i have the code but cant add here how to add??

[2021-03-20 14:04] Bacon-Fixation commented on #476
Make sure you are clicking on the Generate Access Token Link and using the key that pops up and not the Client Secret
![image](https://user-images.githubusercontent.com/12632936/111872024-2e7e7200-895b-11eb-9c7b-497e6a771aeb.png)

I personally think there Webpage is a bit confusing to me

Much Love
-Bacon

[2021-03-20 15:42] Bacon-Fixation commented on #474
@muhitrhn I advise it (it can get frustrating)
I made a quick and dirty alteration to play.js that fits your requirements Here

https://github.com/Bacon-Fixation/Beta-Commands/

this alters lines 375 through 510 in play.js

Much Love
-Bacon

[2021-03-20 17:18] muhitrhn commented on #474
It threw an error, didn’t seem to work. @Bacon-Fixation

2021-03-20T17:17:27.127507+00:00 app[worker.1]:   throw err;
2021-03-20T17:17:27.127507+00:00 app[worker.1]:   ^
2021-03-20T17:17:27.127507+00:00 app[worker.1]:
2021-03-20T17:17:27.127508+00:00 app[worker.1]: Error: Cannot find module '../../options.json'
2021-03-20T17:17:27.127508+00:00 app[worker.1]: Require stack:
2021-03-20T17:17:27.1275

[2021-03-20 17:21] galnir commented on #470
Is that a completely fresh clone with no changes?

[2021-03-20 17:22] galnir commented on #477
I'm currently not adding new features because I'm rethinking the architecture of the bot. You're welcome to contribute features in the future tho :)

[2021-03-20 17:22] #477 closed

[2021-03-20 17:23] galnir commented on #476
Make sure you generate the correct token from the Genius API

[2021-03-20 17:24] galnir commented on #475
Very odd because the 'say' command isn't supposed to run twice or send more than 1 message unless you modified it

[2021-03-20 17:25] galnir commented on #474
2021-03-20T17:17:27.127508+00:00 app[worker.1]: Error: Cannot find module '../../options.json'

Make sure the modified file is at the right place(inside the 'music' directory) or that options.json actually exists

[2021-03-20 17:26] #473 closed

[2021-03-20 17:26] #444 closed

[2021-03-20 17:26] galnir commented on #333
I'm closing this issue since Lavalink got off my todo list for now

[2021-03-20 17:26] #333 closed

[2021-03-20 18:23] galnir commented on #470
Btw the
```TypeError: Cannot read property 'find' of undefined```
might be thrown from line 68 in play.js which is related to quick.db

[2021-03-20 18:59] muhitrhn commented on #474
Aah, i forgot about that, accidentally deleted it. okay now i have it in place but the song won’t play. And there’s a new error in console @galnir @Bacon-Fixation -

2021-03-20T18:55:33.185467+00:00 app[worker.1]:     at StreamDispatcher.<anonymous> (/app/commands/music/play.js:358:27)
2021-03-20T18:55:33.185468+00:00 app[worker.1]:     at StreamDispatcher.emit (events.js:327:22)
2021-03-20T18:55:

[2021-03-21 13:53] muhitrhn commented on #475
@swayam-crypto can we see your code for ‘say.js’ file?

[2021-03-21 16:22] Bacon-Fixation commented on #474
I haven't been able to replicate this error even on a Heroku build.

You can also try `npm clean-install` it will remove the modules folder and reinstall.

Much Love
-Bacon

[2021-03-21 19:34] muhitrhn commented on #474
It worked after a redo! Thank you so much @Bacon-Fixation @galnir

[2021-03-21 19:34] #474 closed

[2021-03-21 21:10] Bacon-Fixation commented on #470
Can try `npm clean-install` on the build that is giving you trouble, it seemed to help #474 with a similar issue

Much Love
-Bacon

[2021-03-22 06:28] swayam-crypto commented on #475
const { Command } = require('discord.js-commando');
const { MessageEmbed } = require('discord.js');
module.exports = class SayCommand extends Command {
  constructor(client) {
    super(client, {
      name: 'say',
      aliases: ['make-me-say', 'print'],
      memberName: 'say',
      group: 'other',
      clientPermissions: ['SEND_MESSAGES', 'MANAGE_MESSAGES'],
      description: 'Make the bot s

[2021-03-22 06:49] swayam-crypto opened #478 "how to edit the help command to embed and not to send that command in dm"

[2021-03-22 06:52] swayam-crypto commented on #478
I Was Not Sure How To Edit The Command That's Why I Didnt Editd The Help.js

[2021-03-22 08:12] muhitrhn commented on #475
There is a duplication of the send command. Use this code and your issue will be fixed.

const { MessageEmbed } = require('discord.js');
module.exports = class SayCommand extends Command {
constructor(client) {
super(client, {
name: 'say',
aliases: ['make-me-say', 'print'],
memberName: 'say',
group: 'other',
clientPermissions: ['SEND_MESSAGES', 'MANAGE_MESSAGES'],
description: 'Make the bot say an

[2021-03-23 17:37] galnir commented on #476
@swayam-crypto Again, the issue is most likely that you didn't generate a correct token. If the issue persists after generating the correct token, comment here and I'll reopen this issue

[2021-03-23 17:37] #476 closed

[2021-03-23 17:38] galnir commented on #478
As I wrote before, read #120

[2021-03-24 11:56] qdlmcfresh opened #479 "Help getting dispatcher.play to work with spotify preview urls"
Hi, im trying to get the trivia command to play spotify previews instead of youtube links. In my own little test bot it works already but im having an issue adding the same functionality in this bot. I dont really know too much about nodejs so i dont really have an idea how to debug this ...

Im doing the following in my testbot:
[code]

but in `music-trivia.js` this:
[code]
Results in a loop of `

[2021-03-24 15:30] qdlmcfresh commented on #479
`npm uninstall ffmpeg-static` fixed it for whatever reason

[2021-03-24 15:30] #479 closed

[2021-03-25 10:30] Trentyn opened #480 "Trying deploy to Heroku"
-----> Building on the Heroku-20 stack
-----> Determining which buildpack to use for this app
-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true

-----> Installing binaries
       engines.node (package.json):  unspecified
       engines.npm (package.json):   unspecifi

[2021-03-25 15:34] galnir commented on #480
For some reason your heroku instance can't access one of the dependencies' repository. I never hosted the bot on heroku or others like repl.it, so maybe someone else will be able to solve your issue

[2021-03-26 08:08] swayam-crypto opened #481 "Sir U May Add bot-info.js"
https://github.com/swayam-crypto/Bot-Info.js/blob/main/bot-info.js
![image](https://user-images.githubusercontent.com/80890491/112601529-91c74300-8e38-11eb-8854-5bd340f8acb3.png)

[2021-03-26 08:09] swayam-crypto commented on #481
var commando = require('discord.js-commando');
var discord = require('discord.js');

class aboutuser extends commando.Command
{
    constructor(client) {
        super(client, {
            name: 'bot-info',
            group: 'guild',
            memberName: 'abot-info',
            description: 'Lists information about a specific user.',
            aliases: ['bi', 'boti', 'binfo', 'bot'],

[2021-03-26 15:27] Bacon-Fixation commented on #480
First on github create a private Fork of Master-Bot and add a completed config.json file to your fork
Create a File called `Procfile` and add `worker: node index.js` and add it to your fork (`Master-Bot/` with the config.json file)

Go to Heroku.com and Create a New App
![image](https://user-images.githubusercontent.com/12632936/112651369-5289f980-8e1a-11eb-9186-119675b147db.png)

Name your app an

[2021-03-26 15:41] Bacon-Fixation commented on #481
Check your Repo i sent you a how to do a pull request and sent a PR of this code to match the Mastor-Bot Format

i was bored this morning <3

Much Love
-Bacon

[2021-03-26 16:43] Bacon-Fixation commented on #478
first you need to add `help: false` to the `.registerDefaultCommands` section inside `index.js`
[code]

create a file called help.js inside the `Master-Bot-commands/guild/` folder

i have converted the Original Help.js to work outside the module so you have a starting point, copy this to your newly created `help.js`
[code]

Now Edit that to your liking

Much Love
-Bacon

[2021-03-27 11:55] amirshah2935 opened #483 "trouble when installing dependencies"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
Following your readme files, whe

[2021-03-27 12:22] galnir commented on #483
You didn't install Git

[2021-03-27 14:36] amirshah2935 commented on #483
owh thanks it seems my visual studio code is not integrate with git, where i have install the git, but i need to use git cmd only can run the npm install, but after run npm install i t seems others error pops out.

1. TypeError [CLIENT_MISSING_INTENTS]: Valid intents must be provided for the Client.
2. UnhandledPromiseRejectionWarning: DiscordAPIError: Invalid Form Body

[2021-03-29 08:38] galnir commented on #483
I think you checked the 'PRESENCE INTENT' section under 'Privileged Gateway Intents' in the 'Bot' page in your Discord Developer Portal. You don't need intents unless your bot is active on more than 100 servers

[2021-03-29 09:28] galnir commented on #449
Merged

[2021-03-29 09:28] #449 closed

[2021-03-29 09:29] galnir commented on #470
Did you manage to solve this issue @Natemo6348 ?

[2021-03-29 13:29] Natemo6348 commented on #470
Oh sorry, I haven't had a chance to try what @Bacon-Fixation suggested, I will try it today and let you know

[2021-03-29 16:27] Natemo6348 commented on #470
`npm clean-install` did not fix the issue

[2021-03-30 04:52] amirshah2935 commented on #483
yup i notice that..so the bots is working, but im not ablet o deploy under heroku..not sure why..but whenever i online the bot, i got this error, but it still online and works..im not sure why it says my user_id xxxx is not snowflake, cannot find any snowflake command in your code also..if you can help when not busy..if not its okay..as long as its wokring for my small server..really appreciate yo

[2021-03-30 05:20] Natemo6348 commented on #470
Still hasn't fixed the issue

[2021-03-30 08:54] galnir commented on #483
Did you change anything in the code? I'm not getting these errors on my instances

[2021-03-30 09:00] galnir commented on #470
Your bot isn't able to play a song, it enters the catch statement and then throws the TypeError which is unrelated to the inability to play songs.
Are you getting any errors when installing the dependencies? Do you have Python 2.7 installed?

[2021-03-30 09:22] amirshah2935 commented on #483
in my current code yes..i did change the msg replies to my language to make it fun..

but this error i receive is from your fresh download zip from your github here...

my step as below:
1. Download
2. unzip download file
3. add config.json
4. run npm install
5. then run node .

attached also whats in
![image](https://user-images.githubusercontent.com/38003845/112966099-7cc21b00-917c-11eb-88d7-602

[2021-03-30 09:30] galnir commented on #483
The error says you changed something to 'YoshiyukiAdly' instead of putting your user ID

[2021-03-30 09:41] amirshah2935 commented on #483
dang...ahhhh...im so really much sorry...my bad..i tot that was my discord id, usually the the id means username. seriously my bad. anyway no error now once i change that..ill close this will be looking to deploy this code with heroku.. thanks so much for your wondewrfull codes and help..

add me in discord if you want, YoshiyukiAdly#9405. cheers.

[2021-03-30 09:41] #483 closed

[2021-03-30 14:03] Natemo6348 commented on #470
I don't get any error when installing dependencies and I have Python 2.7.13 installed.

[2021-03-30 17:07] AlexCiurar opened #484 "Remove dm"
Hi ! I try to remove bot send dm , not work ! what to do ?

[2021-03-30 17:27] Natemo6348 commented on #470
@galnir it didn't log anything and I still got the `TypeError: Cannot read property 'find' of undefined` error

[2021-03-30 18:30] #478 closed

[2021-03-30 18:34] Natemo6348 commented on #470
With this error, the only place it says something about it is on discord, and all it says is `TypeError: Cannot read property 'find' of undefined`

[2021-03-30 18:41] galnir commented on #470
Place this 1 line after line 67 in play.js:
```console.log(userPlaylists)```
what does it output?

[2021-03-30 19:02] Natemo6348 commented on #470
it outputs `undefined`

[2021-03-30 21:16] galnir commented on #470
@Natemo6348 I thought about it and you have something really messed up there.
It doesn't make sense that in play.js, line 66 is true and it enters the 'if' and then throws an error on line 67, because if we get the user's playlist object from the database it already has a savedPlaylists property set, and that's for a fact because it is hardcoded.

It cannot happen on a fresh clone because it would

[2021-03-31 10:41] AlexCiurar commented on #484
Hi ! Yes

[2021-03-31 12:40] Bacon-Fixation commented on #484
Check out #120 & #478

Much Love
-Bacon

[2021-03-31 13:26] Bacon-Fixation commented on #480
@Trentyn, just wanted to get back with you to see if you were still having issues.

Much Love
-Bacon

[2021-03-31 14:23] Natemo6348 commented on #470
Oh weird, could deleting the json.sqlite database help?

[2021-03-31 17:47] AlexCiurar commented on #484
I read but again not working :(

[2021-04-01 08:24] Natemo6348 commented on #470
@galnir once I deleted the database everything started functioning correctly

[2021-04-01 10:11] galnir commented on #484
#120 is how to edit or disable 'help'
#478 is how to edit it so the bot sends it in the channel

[2021-04-01 19:08] AlexCiurar commented on #484
Hi , i disable 'help' , in guild i  create other help.js.. i try to edit but not working :(  BTW : i'm new in programming .. can you give me your discord ? i want to share my code and i need more explanations.

[2021-04-05 06:44] muhitrhn opened #488 "Change db to PostgreSQL!"
Hello again,
I’m trying to change the db of the bot. I saw `quick.db` resets after every deployment and thus i loose all the informations. So i decided to move to `pg` node module for a better experience and data capture. But can’t seem to achieve it. Can anyone help? @Bacon-Fixation @galnir

Much appreciated.
Regards!

[2021-04-05 09:36] nettlees commented on #480
bacon you are a legend!

[2021-04-05 14:04] Natemo6348 commented on #480
just wanted to say that this also happens on replit sometimes, haven't tested on my pc if it happens as well, but usually installing the module individually and not at the same time as the rest usually helps, idk what to do for heroku

[2021-04-05 16:25] muhitrhn commented on #488
Can you please also check on this? @galnir
I will only need to do for twitch announcer settings and twitch announcer file.

[2021-04-05 20:14] #480 closed

[2021-04-06 04:28] MrShehabTito opened #489 "MasterBot music not working"
hey, when I try to play any music the bot give me a error "I have no permission to join your channel!" [https://ibb.co/ScxxQ3N](url) and I'm giving the bot full permissions, everything is working in the bot but only this thing is not working I tried everything and still the bot not working

[2021-04-06 16:41] Bacon-Fixation commented on #489
check out #317,#407

Much Love
-Bacon

[2021-04-07 12:11] galnir commented on #484
Hey, issues are meant for addressing bugs. The issues we linked(120 and 478) are the solutions to what you're trying to do. If you're new to JavaScript and everything related to hosting a bot, I recommend you to read or watch guides and then try again when you have more knowledge

[2021-04-07 12:11] #484 closed

[2021-04-07 12:11] #481 closed

[2021-04-07 12:13] galnir commented on #480
Bacon is indeed a legend. @Bacon-Fixation would you mind copying your comment to a new issue so I can pin it?

[2021-04-07 12:13] galnir commented on #488
What do you mean by 'every deployment'? How are you hosting this bot?

[2021-04-07 12:45] muhitrhn commented on #488
I’m hosting the bot on Heroku

[2021-04-07 12:46] muhitrhn commented on #488
I’m hosting the bot on Heroku.

[2021-04-07 12:51] Bacon-Fixation opened #490 "Heroku Deployment Steps"
Heroku has a 24hour redeployment which means the saved database is removed and All Twitch Timers will be stopped

First on github create a private Fork of Master-Bot and add a completed config.json file to your fork
Create a File called `Procfile` and add `worker: node index.js` and add it to your fork (`Master-Bot/` with the config.json file)

Go to Heroku.com and Create a New App
![image](https:

[2021-04-07 12:52] Bacon-Fixation commented on #480
done @galnir #490 :D

Much Love
-Bacon

[2021-04-07 12:57] AayanAsim746 opened #491 "Stage Channel"
**Explain your suggestion**
So there is a new update on discord the stage channel so I was hoping the bot could join that channel

[2021-04-07 15:29] galnir commented on #491
I'll look into it

[2021-04-07 19:47] Natemo6348 commented on #491
discord.js will need to be updated to v12.5.3 as well btw

[2021-04-08 00:03] muhitrhn commented on #488
I’m hosting the bot on Heroku. @galnir @Bacon-Fixation
Here is the problem straight from Heroku `SQLite runs in memory, and backs up its data store in files on disk. While this strategy works well for development, Heroku’s Cedar stack has an ephemeral filesystem. You can write to it, and you can read from it, but the contents will be cleared periodically. If you were to use SQLite on Heroku, you w

[2021-04-08 01:19] muhitrhn commented on #488
Here is what i did so far for the `pg` node module to work with twitch announcer.
https://github.com/muhitrhn/Beta-Commands/

Currently the code creates table and inserts data into the table. I checked logging the data from db with `console.log(DBInfo);` and got the full data information saved in the database for that server. But when i try to fetch them through the bot, shows undefined for all th

[2021-04-08 07:56] thetechguy-cpu opened #492 "Make say command an embed and add an argument for channel."
**Explain your suggestion**
The bot only sends the message from say command in a regular message. It would be cool if it became an embed. It will also be cool if you could add in an argument for channel where the bot will send the message.

[2021-04-08 14:06] Natemo6348 commented on #492
The say command is an embed, make sure your code matches the code in this repo

[2021-04-08 15:52] Natemo6348 opened #493 "A branch of Master-Bot for .env usability?"
**Explain your suggestion**
I was thinking that maybe you could make a branch with a .env file for those hosting on something like replit that needs API keys and tokens hidden without having to upgrade their account

[2021-04-08 16:50] Bacon-Fixation commented on #493
here ya go a dotenv version @Natemo6348

https://github.com/Bacon-Fixation/Master-Bot/tree/dotenv

create a `.env` file and follow the format below
[code]

[2021-04-08 19:05] muhitrhn commented on #488
Anyone?

[2021-04-08 19:26] muhitrhn commented on #488
Here is what i did so far for the `pg` node module to work with twitch announcer.
https://github.com/muhitrhn/Beta-Commands/

Currently the code creates table and inserts data into the table. I checked logging the data from db with `console.log(DBInfo);` and got the full data information saved in the database for that server. But when i try to fetch them through the bot, i see this (check the atta

[2021-04-08 19:51] Natemo6348 commented on #488
@muhitrhn commenting the same thing multiple times will not speed anything up, please be patient

[2021-04-08 20:27] Bacon-Fixation commented on #488
I really don't understand Postgres and the Documentation is confusing, I'm afraid I'm not much help here.

Much Love
-Bacon

[2021-04-09 02:01] muhitrhn commented on #488
At least can anyone tell me how to resolve value from this promise?
`pool.query(`SELECT channelID FROM Twitch_DB WHERE guildid = ${message.guild.id}`).then((dbi) => { resolve dbi; } ).catch((err) => console.log(err));` ?

[2021-04-09 03:22] PhantomNimbi opened #494 "Twitch Announcer Not Working"
**Describe the bug**
Twitch Announcer keeps disabling itself and leaving the following error in console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use 'twitch-announcer-settings' command
2. provide 'twitch user and discord channel name' arguments

**Expected behavior**
Expected to announce when the user goes live on Twitch.

**Desktop:**
 - OS: Linux [PloxHost Docker Image]
 - N

[2021-04-09 06:42] muhitrhn commented on #488
Here is the log of the database i tried through `console.log();`
![89BDECD5-38E9-424C-B782-62E51DA9DD59](https://user-images.githubusercontent.com/36473811/114139570-08803800-9931-11eb-9cce-ff69d5309135.jpeg)

[2021-04-09 09:12] Jaccosf commented on #489
Hey, I am experiencing the same issue. Tried the fixes for #317 and #407 and many more, but no luck. I am hosting my bot on Windows VPS btw. Hope you guys can help me out.

[2021-04-09 11:28] muhitrhn commented on #488
Okay never mind, i made it work!

Thank you for trying to help @Bacon-Fixation @galnir @Natemo6348 ,and really sorry for bothering.
Much Appreciated!

[2021-04-09 11:28] #488 closed

[2021-04-09 14:04] Bacon-Fixation commented on #494
What version of python shows up when you do a `python --version`?
it is required to have 2.7 installed before installing the dependencies with `npm install`

Much Love
-Bacon

[2021-04-09 14:58] Natemo6348 opened #495 "Not an issue, but a question"
May I ask why `mute.js` and `unmute.js` were removed? Kinda freaked out when I pulled changes and it deleted it locally lol, thank god for backups

[2021-04-09 16:01] galnir commented on #495
Their implementation wasn't great so I removed them. I hope to work on better moderation commands

[2021-04-09 16:03] galnir commented on #489
Did everything get installed correctly? Try removing your node_modules directory and entering 'npm i' again, make sure there are no critical errors regarding the database or ytdl-core

[2021-04-09 16:04] galnir commented on #490
Are they doing the redeployment thing only to free users?

[2021-04-09 16:13] Natemo6348 commented on #495
Ah ok, makes sense

[2021-04-09 16:13] #495 closed

[2021-04-09 18:02] Bacon-Fixation commented on #490
for Heroku a dyno can run for a max of 24 hours at a time then its restarted and anything that wasn't in the github repo at the time of Heroku deployment is deleted.

[2021-04-09 21:32] muhitrhn opened #496 "Twitch Announcer couldn’t send message to this channel."
Hello,
Why the bot says this when i enable twitch announcer?

![3AEEDC2F-2FBB-4E8D-8538-2CFFFF798BB5](https://user-images.githubusercontent.com/36473811/114242359-95b4a280-99ac-11eb-982f-0c3d50c53af6.jpeg)

and this error shows up in console -
![8AB55F14-4462-4293-AE33-C558FBDBF876](https://user-images.githubusercontent.com/36473811/114242431-aebd5380-99ac-11eb-8492-c39c3f9bc37a.jpeg)

I have also

[2021-04-09 23:59] Bacon-Fixation commented on #496
in the repo line 48
` const DBInfo = Twitch_DB.get(`${message.guild.id}.twitchAnnouncer`);`

in your picture
the `row[0]` is not from the original
not much i can do if it was changed

Much Love
-Bacon

[2021-04-10 00:03] muhitrhn commented on #496
Could you please tell me what this line does? Does it look for guild.id.twitchAnnouncer row from the database table?

[2021-04-10 00:06] Bacon-Fixation commented on #496
I believe so

[2021-04-10 00:11] muhitrhn commented on #496
The line 306 of my image `DBInfo.rows[0].botsay` also does the same thing, it fetches value of `botSay` input. Then why doesn’t it work? And as you see in this image -
![DE0555E2-A82C-4685-AC14-AB4A4CA9BD63](https://user-images.githubusercontent.com/36473811/114251567-4d54af00-99c3-11eb-8266-e51b0e2455e9.jpeg)

All other values get’s printed by the bot, they also have the same type of fetch code.

[2021-04-10 00:16] muhitrhn commented on #496
Seems this repo also can’t find the `DBInfo` variable, i guess the yellow color means that?
![C1116B65-8810-4186-A829-76AC075724CD](https://user-images.githubusercontent.com/36473811/114251830-56924b80-99c4-11eb-91e9-05e9576d47e1.jpeg)

[2021-04-10 01:12] PhantomNimbi commented on #494
No idea, my bot host doesn't let me do that. it uses a Docker image to run the setup and install everything from a package.json file first then has me swap from the setup.js to the index.js file. I'm not able to run command line arguments through it.

[2021-04-10 02:39] thetechguy-cpu commented on #492
Ah. I see it now. It would still be nice to add a channel argument. though

[2021-04-10 06:04] RxNationGaming opened #497 "Pls help"
I got an error this  TypeError: fields.flat is not a function

Plz help!

[2021-04-10 08:26] muhitrhn commented on #496
Never mind, i fixed that.

[2021-04-10 08:26] #496 closed

[2021-04-10 09:10] #490 closed

[2021-04-10 09:46] galnir commented on #491
Stage channels are not supported by discord.js at the moment

[2021-04-10 10:04] galnir commented on #493
If you need a .env file you can use bacon's suggestion :)

[2021-04-10 10:04] #493 closed

[2021-04-10 11:48] galnir commented on #497
Update your Node.js version to 14.16.1

[2021-04-10 11:55] RxNationGaming commented on #497
But how I use glitch & termux is hard to online the bot Becuz it's always saying ERR! Code: EPERM

[2021-04-10 12:11] galnir commented on #494
I'm closing this issue since it's related to your hosting solution

[2021-04-10 12:11] #494 closed

[2021-04-10 12:16] galnir commented on #497
I don't understand your question, do you mean the bot goes offline? If yes, that's because you're using Glitch which is not meant to host bots

[2021-04-10 14:34] RxNationGaming commented on #497
Yes!

Then how do I fix the TypeError?

[2021-04-10 15:07] RxNationGaming commented on #497
Now I got a new err

This is what it said

TypeError: Cannot read property 'displayName' of null

[2021-04-11 03:02] muhitrhn opened #502 "Twitch Announcer issue."
Hello @Bacon-Fixation ,
Hope you are well, i have to say you did a great job with the twitch announcer.

I have a question regarding it. Is the twitch announcer supposed to announce the streamers presence every 2 minutes(default)?

I’m trying to announce a streamers stream on my server and it is only being announced once after 2 minutes of enabling using `*ta enable`. Not sure if it’s supposed to

[2021-04-11 03:54] PhantomNimbi commented on #494
Can't be fixed. Our host is refusing to install they're basically being idiots. So we need a way to install it via a js file.

[2021-04-11 04:14] Natemo6348 commented on #491
Yes, but I remember seeing that without that update, stage channels could hard crash the bot, I will look for exactly what they said

[2021-04-11 04:15] Natemo6348 commented on #497
Are you using a command that causes that error? If so, is it in a server or DM

[2021-04-11 04:41] Natemo6348 commented on #491
Couldn't find exactly what they said, but I do know that previous versions are deprecated because of issue with stage channels

[2021-04-11 04:48] Natemo6348 opened #503 "add-role.js and rmv-role.js change suggestions"
**Explain your suggestion**
Currently they don't work with user/role id or name, so maybe make it where you don't have to mention the user or role? If you think it's a good idea I can do it, but since I don't have the time right now, I thought I'd get some opinions.

[2021-04-11 05:52] Bacon-Fixation commented on #502
by default it checks the status of the twitch channel every 2 minute (default is 2min and lowest is 1 min) and will post only 1 discord message when the streamer goes live, and once the streamer goes offline it will edit the old message

it does not continuously send an online message every 2 mins

There isn't much of a reason to check faster than every min, it takes about 1 to 3 min for twitch to

[2021-04-11 08:28] Jaccosf commented on #489
Only getting this warning:
npm WARN deprecated node-opus@0.3.3: This project is unmaintained. See @discordjs/opus for an alternative.

After that also did npm i node-opus, but that doesn't make any difference.

[2021-04-11 08:29] RxNationGaming commented on #497
Server

[2021-04-11 08:56] galnir commented on #497
Hosting this bot on Glitch isn't a viable option, since sqlite is required and as far as I know it can't be installed on Glitch

[2021-04-11 08:57] muhitrhn commented on #502
Okay thank you!

[2021-04-11 08:57] #502 closed

[2021-04-11 15:41] muhitrhn commented on #492
@thetechguy-cpu you can check #504 , it contains exactly what you asked for. Made that for my server but never thought anyone will need that.

Enjoy!

[2021-04-12 03:10] RxNationGaming commented on #490
It dint worked because I get errors in heroku

[2021-04-12 16:14] galnir commented on #489
Please open a new issue so I can help you with your specific problem

[2021-04-12 16:14] galnir commented on #489
I'm closing this until @MrShehabTito responds

[2021-04-12 16:14] #489 closed

[2021-04-12 16:18] galnir commented on #491
v11 is deprecated. This bot uses v12 and they(discord.js) didn't finish working on supporting stage channels. Stage channels are not even documented in Discord's official API, atleast from what I've seen

[2021-04-12 16:20] galnir commented on #503
I'll look into it. My intention was that it would work with user/role id and names

[2021-04-15 05:12] AeroSouls opened #505 "Question"
how do I run this bot on my server? what is the start file? I have everything I need installed and configured. The server is through pebblehost. Or is this not possible?

Thanks!

[2021-04-15 05:17] AeroSouls commented on #505
![image](https://user-images.githubusercontent.com/49828953/114817615-56a99700-9d88-11eb-8d29-ff2b3ed0d397.png)

[2021-04-15 05:17] AeroSouls commented on #505
![image](https://user-images.githubusercontent.com/49828953/114817639-60cb9580-9d88-11eb-81bd-8cec4b339a49.png)

[2021-04-15 05:18] AeroSouls commented on #505
![image](https://user-images.githubusercontent.com/49828953/114817660-6c1ec100-9d88-11eb-94af-1caf78ee3f3e.png)

[2021-04-15 05:18] AeroSouls commented on #505
per install options:
![image](https://user-images.githubusercontent.com/49828953/114817698-7e98fa80-9d88-11eb-96c5-b034cace7a55.png)

[2021-04-15 05:21] #505 closed

[2021-04-15 07:55] Trentyn opened #506 "error while installing modules on windows and heroku too"
![Desktop Screenshot 2021 04 15 - 10 54 16 09](https://user-images.githubusercontent.com/63451568/114834230-073f8700-9dd9-11eb-9b2e-b3f005defffe.png)
![Desktop Screenshot 2021 04 15 - 10 54 08 75](https://user-images.githubusercontent.com/63451568/114834232-0870b400-9dd9-11eb-9519-e21e5a0604e5.png)
![Desktop Screenshot 2021 04 15 - 10 54 23 16](https://user-images.githubusercontent.com/63451568/11

[2021-04-15 08:13] galnir commented on #506
You need to install Git

[2021-04-15 08:40] Trentyn commented on #506
And on Heroku, git installed

Installing dependencies
       Installing node modules
       npm ERR! Error while executing:
       npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/discordjs/Commando.git
       npm ERR!
       npm ERR! Host key verification failed.
       npm ERR! fatal: Could not read from remote repository.
       npm ERR!
       npm ERR! Please make sure you have the c

[2021-04-15 08:41] Trentyn commented on #506
but if I use files from the previous version of the bot (package.json and package-lock.json), then everything works

[2021-04-15 09:01] galnir commented on #506
Pull the new changes I just committed and try again. It might be that the commando version needs to be explicit

[2021-04-15 10:43] Trentyn commented on #506
success, but is this all normal?

make: Entering directory '/tmp/build_bd07081d/node_modules/better-sqlite3/build'
         TOUCH b857c92884e9598d609f6be182a2595df7a8e00f.intermediate
         ACTION deps_sqlite3_gyp_locate_sqlite3_target_extract_sqlite3 b857c92884e9598d609f6be182a2595df7a8e00f.intermediate
         TOUCH Release/obj.target/deps/locate_sqlite3.stamp
         CC(target) Release/obj

[2021-04-15 10:58] galnir commented on #506
Should be ok

[2021-04-15 11:01] Trentyn commented on #506
Ok

[2021-04-15 11:01] galnir commented on #497
I'm closing this issue since your initial problem was solved. Also, as I said, Glitch isn't suitable for hosting this bot so you should use another hosting solution. If you have any more problems you're welcome to open a new issue, and make sure to fill the issue template

[2021-04-15 11:01] #497 closed

[2021-04-15 13:34] galnir commented on #506
Are you experiencing any more issues? If no I'll close this issue

[2021-04-15 19:57] AeroSouls opened #507 "TypeError: Cannot read property 'voiceChannel' of undefined"
**Describe the bug**
When you issue the command !play Playlistlinkyoutube it gives this error. Now, this only happens if you start with a playlist link(Before the bot is in VC). If I do !play nameofsong select number it works fine then I can do .play playlistlink works fine. only bugs if the first command it gets is a playlistlink.

Once this first error hits the bot no longer works till restart.

[2021-04-15 20:47] galnir commented on #507
How exactly did you install python 2.7 if you're running the bot on replit...?

[2021-04-15 21:54] AeroSouls commented on #507
sorry not for Replit I have it installed on my host from pebblehost still get the same error

[2021-04-15 22:24] AeroSouls commented on #507
My host has this package as well I have installed it and still having errors.
https://github.com/73rhodes/node-python

[2021-04-15 23:14] AeroSouls commented on #507
Tried it on another host plox.host still having the same error sadly

[2021-04-15 23:25] Natemo6348 commented on #507
also @galnir python is installed by default, and it seems that if you specify that the project is nodejs, it downgrades your node and python versions to 12.22.1 and 2.7.13

[2021-04-16 02:34] Natemo6348 opened #508 "TypeError: Cannot read property 'members' of null"
If someone plays a song and loops it, then leaves the channel while it's still on loop, when song is over it logs this error:
[code]
bot then crashes completely

[2021-04-16 12:23] galnir commented on #507
I'm able to reproduce this, looking into fixing it

[2021-04-16 12:59] #507 closed

[2021-04-16 13:00] galnir commented on #507
Fixed in f582e1ef6535169deb36abc27f4111370cd1a3f2
Thank you @AeroSouls for opening this issue :)

[2021-04-16 13:03] galnir commented on #508
I'm able to reproduce this, looking into fixing it now

[2021-04-16 16:25] AeroSouls commented on #507
thanks, man I appreciate you and this bot!

[2021-04-16 17:08] #508 closed

[2021-04-16 17:08] galnir commented on #508
Fixed in e559683
Thanks for bringing this issue up 👍

[2021-04-17 00:11] Stalker-hash opened #509 "TypeError: Cannot read property 'title' of undefined"
getting error while useing save-to-playlist command can you add japanese language to so i can enjoy my weeb musics thx

[2021-04-17 13:22] galnir commented on #509
Fill the issue template please

[2021-04-17 18:20] #506 closed

[2021-04-19 23:10] #509 closed

[2021-04-20 17:50] Stalker-hash opened #510 "While playing saved playlists auto shuffle"
It would be cool if you can add auto shuffle to the saved playlists too

[2021-04-21 02:49] PhantomNimbi opened #511 "[REQUEST] Option to specify role mention on twitch announcer"
**Explain your suggestion**

I would like to see the option to specify which role the twitch announcer mentions. Also maybe give the user the option to disable role mention all together if they don't want to have it mention any role at all.

[2021-04-21 03:44] Bacon-Fixation commented on #511
You can currently with `!tasettings  "s" "s" "s" "@stream-gang"` if you just wanted to change the mentions part of the announcer

I hope this helps, stream-gang can be what ever role you would like to mention

Much Love
-Bacon

[2021-04-21 10:19] Jaccosf opened #512 "I have no permission to join"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
When I try to play music or the

[2021-04-21 13:24] Bacon-Fixation commented on #510
Look at the options.json file in the Master-Bot/ folder then look for  "AutomaticallyShuffleYouTubePlaylists" and change it to true save it then restart the bot, then Enjoy

should look like

  "AutomaticallyShuffleYouTubePlaylists": true

Much Love
-Bacon

[2021-04-21 13:38] Bacon-Fixation opened #513 "Playlist links are always shuffled"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
all YouTube playlist links are s

[2021-04-22 07:48] MeetThumar opened #516 "I need help but this is not a bug."
New version is out thats 7.9.0 how can i update the bot

[2021-04-22 08:56] galnir commented on #516
Version of what?

[2021-04-22 13:43] Bacon-Fixation commented on #516
My only assumption is that you are referring to the npm version, it was recently updated to 7.10.0

`npm -g install npm` or you can `npm -g install npm@7.10.0` to install a specified version

Much Love
-Bacon

[2021-04-22 15:40] Bacon-Fixation commented on #511
@PhantomNimbi  wanted to get back with you and see if you needed addition help or information

Much Love
-Bacon

[2021-04-23 07:19] meiaihara06 opened #517 "Timer Freezes"
**Describe the bug**
timer/seek freezes and stuck on 00:00 to the end of song

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/galnir/Master-Bot`
`cd Master-Bot`
(configuring)
`npm start`
then go play a song with "?play SongNAME" (? is the prefix for me)
**Expected behavior**
timer/seek should update every 10/20 seconds
**Screenshots**
![image](https://user-images.g

[2021-04-23 07:43] meiaihara06 opened #518 ""Playing" Message should not send every time on loop"
**Explain your suggestion**

when you loop a music , it should not send a message every time it loops ,or at least an option to disable it

[2021-04-23 08:29] galnir commented on #512
I forgot to update the issue template to display that the nodejs version needs to be v14 atleast, so make sure to update it

[2021-04-23 14:45] Bacon-Fixation commented on #517
its not a bug,
that is how it is supposed work

the timer only updates when buttons are pressed
it does not auto update when music is playing

i apologize for any confusion

it was not possible to reliably have the embed message updated every second without errors or endless loops

Much Love
-Bacon

[2021-04-23 14:50] Bacon-Fixation commented on #518
it was implemented that way in case the playing message was in a busy channel, when the song ends it  brings the controls back into view

Much Love
-Bacon

[2021-04-23 15:21] Natemo6348 commented on #517
plus with enough instances running, it could be considered API spam

[2021-04-23 15:22] Natemo6348 commented on #518
maybe when the song is over and it's on loop, delete the previous embed before sending again?

[2021-04-23 16:55] Natemo6348 commented on #512
Node has to be v14? I'm using Node v12.16.1 with no issues

[2021-04-23 17:22] galnir commented on #512
Weird, discord.js updated their docs and it now says v14 is required.
Anyway, @Jaccosf if after updating your node version to v14 the issue still persists let me know here (I'm keeping this issue open for now)

[2021-04-23 19:04] galnir commented on #517
Yeah it doesn't auto-update every x seconds mainly because of the reason Natemo mentioned. If Discord was to increase the rate limit I would implement many commands I have in mind or some I already wrote

@meiaihara06 If you have any more questions you're welcome to tag me here :) You're also welcome to open issues if you're facing bugs

[2021-04-23 19:04] #517 closed

[2021-04-23 19:21] Bacon-Fixation commented on #518
i just added the option to have the old Play Message deleted when the song ends

check out #519

Much Love
-Bacon

[2021-04-23 19:39] meiaihara06 commented on #518
Thank you!
solved!

[2021-04-23 19:39] #518 closed

[2021-04-23 20:02] Bacon-Fixation commented on #518
No Problem, Enjoy :D
I apologize for delays, I had to stress to test it

Much Love
-Bacon

[2021-04-23 23:13] Bacon-Fixation commented on #510
Check out #519

I added a shuffle option to the saved playlists, I hope this is what you had in mind

Much Love
-Bacon

[2021-04-24 08:49] Stalker-hash commented on #510
yeah thanks!

[2021-04-24 08:49] #510 closed

[2021-04-24 10:48] Jaccosf commented on #512
Running on v14.16.1 now, unfortunately no difference.

[2021-04-24 10:52] Jaccosf commented on #512
I don't know if it helps you, but when I ran npm i again, after downloading v14.16.1, I got this npm warnings:
![unknown6](https://user-images.githubusercontent.com/69802108/115956227-ea533400-a4fb-11eb-94fa-b91fd318f800.png)

[2021-04-24 17:59] LilDerp-IsBetter commented on #491
@galnir Ive checked the repo of discord.js and have seen that they have added stage channels now. Are you able to add this now?

[2021-04-24 19:24] Bacon-Fixation commented on #491
It was added to the GitHub repo, but still no Documentation, and hasn't been added to the "Stable" release yet
kinda need to wait till discordjs fully supports it and documented for me to work in it at this time.

Much Love
-Bacon

[2021-04-24 22:43] Bacon-Fixation commented on #503
check out #520

I had some spare time, I hope you don't mind Galnir.
I leveraged discordjs-commando's "member" and "role" flags for the arguments.

Much Love
-Bacon

[2021-04-24 23:28] rafaeldamasceno commented on #513
It would be ideal if it was possible to have the playlist shuffle as a command flag. (like !p playlist -s)

[2021-04-24 23:40] rafaeldamasceno opened #521 "Slim Dockerfile and correct behavior"
**Explain your suggestion**
Currently, the Dockerfile reclones the project and then copies the config.json and the json.sqlite files into the image. As is, this setup doesn't work for a first time run, since the json.sqlite file doesn't even exist. Furthermore, it stands to reason that if I have the Dockerfile to create a new image, I probably just cloned the project into my system which makes it

[2021-04-25 02:12] Alan-Wen-3344 opened #523 "TypeError: PlayCommand.createResponse is not a function"
Hello,
When I try to do `!np` it shows this error message: An error occurred while running the command: `TypeError: PlayCommand.createResponse is not a function`. I've no idea if this is a node bug or something?
Tried with node v12.22 and v14.16 but both of them are having the same issue, is there a way to fix it?

[2021-04-25 04:39] Natemo6348 commented on #512
Those warnings aren't causing the issue, as I get those same warnings and don't have any problems, all I can think of is reinstalling ffmpeg-static, but you've already done that

[2021-04-25 05:08] Natemo6348 opened #524 "Lyrics creates an extra page?"
Not sure if this is intended, but so far every time I search lyrics, it creates an extra page in the pagination embed

[2021-04-25 05:15] galnir commented on #523
Did you clone this bot or did you copy code?
PlayCommand.createResponse is an old function in play.js (which was rewritten not long ago)

[2021-04-25 05:19] galnir commented on #512
Are you hosting the bot on a Windows VPS?

[2021-04-25 05:27] galnir commented on #512
Can you also add an 'error' parameter('function(error)') in line 369 (play.js), and add a 'console.log(error)' to the next line and paste here the error message

[2021-04-25 07:05] Alan-Wen-3344 commented on #523
Yes I use git bash to git clone~
Also didn't modify anything...

[2021-04-25 07:18] galnir commented on #523
Your clone is out of date because as I wrote there is no PlayCommand.createResponse anymore

[2021-04-25 11:08] TheRedyYT commented on #523
The nowplaying command use PlayCommand.createResponse
[code]

[2021-04-25 11:17] galnir commented on #523
@TheRedyYT My bad, it's indeed a bug I forgot to solve when I rewrote play.js
I'll look into solving it asap

[2021-04-25 15:18] Bacon-Fixation commented on #524
Check out #526

Ty for the Heads up

Much Love
-Bacon

[2021-04-25 18:53] galnir commented on #516
Did you refer the the npm version? If yes that's not an issue you're not obligated to update npm often. If you meant something else please comment here or open a new issue and make sure to fill the issue template

[2021-04-25 18:53] #516 closed

[2021-04-25 19:41] galnir commented on #524
Merged #526
Thanks @Bacon-Fixation ;)

[2021-04-25 19:41] #524 closed

[2021-04-25 19:50] galnir commented on #492
Merged in #504
Thanks @muhitrhn for opening that PR!
@thetechguy-cpu thanks for suggesting this. You're welcome to suggest more features or/and contribute code to this repo :)

[2021-04-25 19:50] #492 closed

[2021-04-25 19:58] galnir commented on #521
Merged #522
A big thanks to @Bacon-Fixation and thank you @rafaeldamasceno for proposing these changes 👍 You're always welcome to propose changes or new features

[2021-04-25 19:58] #521 closed

[2021-04-25 20:08] galnir commented on #511
seeing that Bacon helped you, I'm closing this issue.
As Bacon wrote if you need additional help you're always welcome to comment here or open a new issue

[2021-04-25 20:08] #511 closed

[2021-04-25 20:34] galnir commented on #523
Solved in cbc13af

Thank you @Alan-Wen-3344 for letting me know about this. You're always welcome to report bugs or suggest new features :)

[2021-04-25 20:34] #523 closed

[2021-04-25 21:27] rafaeldamasceno commented on #521
I made some even further changes by myself but I wasn't as fast to create an MR :)

I've also added better a better .dockerignore and dependency steps, so that when you change something in the code, the cached dependency layers are used.

Before I create the MR, there's two things that I need to know:

1. Is there any reason why you use a Debian image? I've created some changes which further try t

[2021-04-26 09:56] rafaeldamasceno opened #528 "Add play command flags"
**Explain your suggestion**
As suggested by #513, instead of setting the playlist shuffle settings statically, it would be nice to let the users indicate whether or not they want to shuffle the playlist with a flag, like this:
`!play https://www.youtube.com/playlist?list=PLDZnY98LGxBcS7hgBmmZK2dNDFj9SSWhT -shuffle`

As such, I propose the following flags for the play command for playlist order man

[2021-04-26 10:00] rafaeldamasceno opened #529 "Add seeking commands"
**Explain your suggestion**
Seeking commands are useful for big songs and videos. The following commands would be nice:

- `!seek` would jump to the indicated time. For example, `!seek 1:30` would go to the 1:30 timestamp of the song.
- `!fastforward` would jump ahead the indicated time. For example, if the current song was at 0:30 and we used `!fastforward 1:30`, the song would be at 2:00.
- `!re

[2021-04-26 10:03] rafaeldamasceno opened #530 "Define disconnection timeout on config"
**Explain your suggestion**
Currently the disconnection timeout is quite short when compared to other bots defaults. However, the only way to change it is to manually change the timeout value in the code itself. Adding this value to the config file and setting it in seconds would let admins configure it more easily.

[2021-04-26 10:11] rafaeldamasceno opened #531 "Keep all songs in queue and add previous command"
**Explain your suggestion**
It would be interesting to keep all queued songs in the queue until the bot timeouts. This way, if someone accidentally skips a song, it would be possible to go back to previous song. A command to clear the queue would also be nice in this situation.

[2021-04-26 10:15] meiaihara06 commented on #530
hey , yes that's nice
check out #525 !

[2021-04-26 18:55] Bacon-Fixation commented on #503
@Natemo6348 thank you for the suggestion
checkout the latest commit (ea644d5)

allows for the use of the (Name, Mention, or ID) to add or remove a role

[code]

if you have any other suggestions don't hesitate to open another enhancement page with suggestions <3

Much Love
-Bacon

[2021-04-26 18:55] #503 closed

[2021-04-26 23:28] Jaccosf commented on #512
I will do tomorrow!

[2021-04-27 01:16] RxNationGaming opened #535 "TypeError: Cannot invoke Embeds class without a valid array to paginate."
When I'm on the dm's of the bot while I'm trying the command speedrun it sending me TypeErrors

[2021-04-27 01:18] RxNationGaming commented on #535
& I'm getting this!!
![Screenshot_2021-04-27-09-11-30-38_5a415ff834f6bc153619606941c55eb5](https://user-images.githubusercontent.com/81674505/116170485-8158ff80-a739-11eb-85a2-e329f2a53af3.png)

[2021-04-27 01:25] Bacon-Fixation commented on #535
Thank you for the Heads up
i was able to replicate this issue as well, i am looking into that now

Much Love
-Bacon

[2021-04-27 01:52] Bacon-Fixation commented on #535
@RxNationGaming just pushed (44d849b) that fixes the issue

Thank you for bring this to my attention, if you have any other issue feel free to open another issue

Much Love
-Bacon

[2021-04-27 01:52] #535 closed

[2021-04-27 02:53] RxNationGaming opened #537 "TypeError: Cannot read property 'run' of undefined"
I just see it on the logs

[2021-04-27 03:08] Bacon-Fixation commented on #537
happy to help ya
Could you do me a favor and fill out the Bug report template
so we have the info needed to better help with your issue
[Bug Report Template](https://github.com/galnir/Master-Bot/issues/new?assignees=&labels=bug&template=bug_report.md&title=)

Much Love
-Bacon

[2021-04-27 03:09] RxNationGaming commented on #537
Ok

[2021-04-27 04:08] Bacon-Fixation commented on #530
#525 was merged

Thank you again, meiaihara06

closing this issue,  if you have any other suggestions or find bug feel free to open a new issue

Much Love
-Bacon

[2021-04-27 04:08] #530 closed

[2021-04-27 05:09] RxNationGaming commented on #537
Closing this issue & making a new issue :)

[2021-04-27 05:09] #537 closed

[2021-04-27 18:03] galnir commented on #529
I addressed this in #134
I tried before to write a seek command it had a 30% success rate and would sometimes crash the bot. Ytdl-core and ffmpeg are not optimal for it unfortunately

[2021-04-27 18:03] #529 closed

[2021-04-30 01:45] Bacon-Fixation commented on #513
issue has been solved with #541

Much Love
-Bacon

[2021-04-30 01:45] #513 closed

[2021-04-30 04:34] meiaihara06 commented on #512
if your problem is not solved
Can you remove "node_modules" and use `npm i` again?
because sometimes weird things (for example ffmpeg or ffmpeg-static was not installing first time) happened after installing dependencies for first time. and when I tried to start bot it crashed
I removed "node_modules" and used `npm i` one more time and everything installed and worked (as long as you don't edit cod

[2021-04-30 04:44] meiaihara06 commented on #512
if you problem is not solved
can you try and installing dependencies with Windows Command Prompt?
it appears you are using git bash
it does not work for me and failed. can you try using `npm i` in CMD?

[2021-04-30 10:14] Jaccosf commented on #512
I've added this, but I didn't get a console log...

[2021-04-30 10:14] Jaccosf commented on #512
This didn't help unfortunately.

[2021-04-30 12:19] rafaeldamasceno commented on #513
Sadly, I'm currently running a build with #541 and I don't think the issue is fixed. Perhaps #540 should be looked at since it also tries to fix this issue. Maybe #541 could be reverted and #540 merged in its place?

[2021-04-30 12:33] rafaeldamasceno commented on #513
I just tested this again. The current master branch does still have the always shuffle bug, and #540 does fix it. The splice variable attribution is only a part of what causes the bug to happen, since it also involves issues with private videos in these playlist. The shuffle flag is also a great addition.

[2021-04-30 14:42] galnir commented on #513
Merged #540 that adds -s flag

[2021-04-30 15:20] galnir commented on #512
Does it happen only when using the music-trivia command or also with the play command?

[2021-04-30 15:30] galnir commented on #512
Do the following steps:
1. Pull the new changes (git pull)
2. In play.js change line 431 to this: ```.catch(function(error) {```
3. add to the next line this: ```console.log(error)```

It's really odd that you said it didn't output anything to your console, so please pull the newest changes and try again. Let me know here if it doesn't output anything again

[2021-04-30 15:36] Jaccosf commented on #512
Error [VOICE_CONNECTION_TIMEOUT]: Connection not established within 15 seconds.
    at VoiceConnection.authenticateFailed (C:\Users\Administrator\Desktop\Servers\theBoyzz-2.0\Master-Bot\node_modules\discord.js\src\client\voice\VoiceConnection.js:303:26)
    at C:\Users\Administrator\Desktop\Servers\theBoyzz-2.0\Master-Bot\node_modules\discord.js\src\client\voice\VoiceConnection.js:324:61
    at Ti

[2021-04-30 15:37] Jaccosf commented on #512
`Error [VOICE_CONNECTION_TIMEOUT]: Connection not established within 15 seconds.
    at VoiceConnection.authenticateFailed (C:\Users\Administrator\Desktop\Servers\theBoyzz-2.0\Master-Bot\node_modules\discord.js\src\client\voice\VoiceConnection.js:303:26)
    at C:\Users\Administrator\Desktop\Servers\theBoyzz-2.0\Master-Bot\node_modules\discord.js\src\client\voice\VoiceConnection.js:324:61
    at T

[2021-04-30 15:44] galnir commented on #512
This error gets emitted usually as a result of a bad internet connection, is that your case?

[2021-04-30 15:46] Jaccosf commented on #512
Shouldn't be possible, as I also run game servers from there.

[2021-04-30 16:38] galnir commented on #512
@Jaccosf I looked this up online and the connection issue is the only thing that pops up

[2021-04-30 21:08] Jaccosf commented on #512
Yeah, I hosted it from my pc and it worked. Thanks for the help, now I gotta find a place to host it :P

[2021-04-30 21:08] #512 closed

[2021-05-01 15:46] AayanAsim746 opened #542 "Quick.db issus"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
im not able to download the quic

[2021-05-01 16:17] galnir commented on #542
This issue isn't related to the code of this bot but try:
`npm cache clean --force`
delete `node_modules` folder
delete `package-lock.json` file

from [here](https://stackoverflow.com/questions/42308879/how-to-solve-npm-error-npm-err-code-elifecycle)

[2021-05-03 03:22] PhantomNimbi opened #544 "Twitch Announcer Auto Disabling"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
The Twitch Announcer command its

[2021-05-03 11:56] AayanAsim746 commented on #542
ok thx

[2021-05-03 11:56] #542 closed

[2021-05-03 15:37] Bacon-Fixation commented on #544
I have a few extra questions, I hope you don't mind <3

can you confirm the bot/host is not restarting or rebooting after the Twitch announcer is enabled?
(timer does not persist after restart)

In the text channel that you enabled the announcer in, is there a message ?

which VPS are you using?
(some services like Heroku will reboot every 24 hours)

Much Love
-Bacon

[2021-05-05 14:34] Bacon-Fixation commented on #544
Howdy @PhantomNimbi,

just wanted to get back with you to see if you were still having issues with the twitch announcer?

Much Love
-Bacon

[2021-05-06 19:07] Deadstoner-ctrl opened #546 "package.json"
}

[2021-05-06 19:37] Natemo6348 commented on #546
What is this for?

[2021-05-06 20:39] Stalker-hash opened #547 "Ability to use youtube music links"
adding youtube music support to the play command

[2021-05-06 23:06] Bacon-Fixation commented on #547
@Stalker-hash Check out #548

it allows it to play music.youtube links

Much Love
-Bacon

[2021-05-08 02:56] Natemo6348 opened #549 "An error for one user (so far)"
So far when this user uses `create-playlist` or `play` they get an error, but I do not, as well as other that tried it.
![20210507_215446](https://user-images.githubusercontent.com/64607128/117523642-1c927600-af7f-11eb-87aa-14019799aab1.jpg)
![20210507_215406](https://user-images.githubusercontent.com/64607128/117523643-1ef4d000-af7f-11eb-81c6-028029d9d333.jpg)

[2021-05-08 02:58] Natemo6348 commented on #549
Not sure what could be causing this

[2021-05-08 09:20] galnir commented on #547
Merged in #548
Thank you Bacon 💯

[2021-05-08 09:20] #547 closed

[2021-05-08 09:20] galnir commented on #546
If you have an issue to report please use the issue template

[2021-05-08 09:20] #546 closed

[2021-05-08 14:58] galnir commented on #549
Was this the first time the user used the create-playlist command?

[2021-05-08 16:15] galnir commented on #528
Merged #540 and #543 both by @kfirmeg :)

[2021-05-08 16:15] #528 closed

[2021-05-08 16:30] galnir commented on #531
Great suggestion, I'll work on it.
What do you mean by 'a command to clear the queue'?

[2021-05-08 21:20] Natemo6348 commented on #549
Yes, and I actually fixed it by deleting their id from the database

[2021-05-08 21:21] Natemo6348 commented on #531
Technically `skipall` clears the queue

[2021-05-08 21:23] galnir commented on #549
@Natemo6348 A very odd error, not sure how it happened

[2021-05-09 11:27] galnir commented on #549
If this error will pop up again please open a new issue and I'll look into it more seriously. I've read the code again and I'm not sure how the savedPlaylists property got deleted

[2021-05-09 11:27] #549 closed

[2021-05-10 16:07] Bacon-Fixation commented on #544
i finally had this error (took 7 days for me to get it), if any issue with gathering data it will stop the timer (intention was to prevent rapid cycling)
i am working on a more robust twitch announcer set up right now, it may take a bit for me to redo

- current plan
 i would like the Timers to persist even if the bot restarts/reboot(if possible)
use less token calls, removing the constant refresh

[2021-05-10 17:19] Natemo6348 opened #552 "tic tac toe?"
**Explain your suggestion**
I know that connect 4 was just made, but could there also be something like tic tac toe for a shorter game?

[2021-05-10 17:33] Bacon-Fixation commented on #552
:D i was thinking about other games as well, but one thing I encountered right away was how to have the player select a place on the board, if i did the same as connect4 I would need a button for each possible place (9) and would be hard to convey what button went where

could do a `x,y' maybe (i need to see how to do the prompts with the paginations module for the embed)

just brainstorming <3

M

[2021-05-10 19:35] Natemo6348 commented on #552
oh alright, also just an idea, but maybe you could do it like a, b, c, 1, 2, 3 similar to battleship

[2021-05-11 16:59] Aayushpatil77 opened #553 "Bot not reconnecting to the voice channel after manually disconnecting"
**Describe the bug**
Whenever I disconnected bot manually and then run the play command it should join the voice channel and play that particular song however, It doesn't. The bot only send the embed message.

**To Reproduce**
Steps to reproduce the behavior:
1. Use 'play' command
2. Disconnect the bot from the voice channel.
3. Run the play command again

**Expected behavior**
Should Play the son

[2021-05-11 22:53] PhantomNimbi commented on #544
Yo, soz for the late reply, yes this is still happening. I'll be keeping an eye on the revamp though. Hopefully it fixes the problem.

[2021-05-11 23:08] PhantomNimbi opened #554 "[SUGGESTION] Update guild setup and database"
**Explain your suggestion**

Yo, so I got an idea that might be worth looking into later if you guys are up for it. My idea is basically as the title suggests. To consolidate all of the guild settings commands into a single set of commands/subcommands.

Basically it would work more or less like so.

Twitch Announcer:
[code]

Welcomer:
[code]

Guild Prefix:
[code]

Naturally this would also use a s

[2021-05-12 01:25] Aayushpatil77 commented on #553
Use the disconnect option by right click on the bot not the commands

[2021-05-12 01:42] Bacon-Fixation commented on #553
:( I still can't replicate this, (right-clicking -> disconnect on the bot it still returns with `!play <song-link>`)

update your Node to 14+ and see if that helps

Much Love
-Bacon

[2021-05-12 17:10] Bacon-Fixation commented on #552
@Natemo6348 Check out #555

I would love some feedback  <3

Much Love
-Bacon

[2021-05-13 11:21] meiaihara06 opened #556 "a Remind feature (for admins / everyone)"
**Explain your suggestion**
a command to set reminder on custom tasks
for example owner send:
`!remind Cookies 2h`
and bot will remind 2 hours later like this:

`@owner_user! you wanted me to remind you : "Cookies"`

thanks!

[2021-05-14 19:28] Bacon-Fixation commented on #554
I can play around with a `set` command to control the twitch announcer and welcome message.

You can currently enable and disable modules, and change the prefix per server with `commandState: true` and `prefix: true` in the index.js, look into #384 for more info <3

not sure about the change in DB tho

Much Love
-Bacon

[2021-05-16 13:05] galnir commented on #531
Merged in b785bef

Thanks for the great suggestion @rafaeldamasceno

[2021-05-16 13:05] #531 closed

[2021-05-17 14:04] thiagogebrim13 opened #558 "When I try to play a song I get this error:"
![image](https://user-images.githubusercontent.com/75040244/118501859-86d5b400-b6ff-11eb-84e5-1fd97ce5338e.png)

[2021-05-17 14:24] Bacon-Fixation commented on #558
Can you do me a fave and fill out the Issues Template?

It gives us some additional information needed to better help resolve issues

Much Love
-Bacon

[2021-05-18 15:27] Bacon-Fixation commented on #558
Howdy @thiagogebrim13,

Wanted to get back with you, and see if you were still having issues

Much Love
-Bacon

[2021-05-18 17:49] galnir commented on #558
Most likely that you didn't generate a YouTube Data API key or that you didn't use the correct API key

[2021-05-18 18:06] galnir commented on #553
I wasn't able to replicate this. Please follow Bacon's suggestion and report back

[2021-05-19 01:40] thiagogebrim13 commented on #558
I already managed to solve it, you can remove it. It was an error in the API

[2021-05-19 01:40] #558 closed

[2021-05-19 01:41] thiagogebrim13 opened #561 "Add option to mention in say command"
It would be nice if you could mention a position or everyone when mentioning it with the say command

[2021-05-19 02:00] #553 closed

[2021-05-19 15:17] Bacon-Fixation commented on #554
I wasn't able to reliably consolidated all the Settings commands with a `!set`
welcome-settings and twitch-announcer-settings needed different types and number of arguments
and wasn't able to make it work at all if I deleted one of them from the folder (say if someone deleted the twitch announcer.js and did a `!set twitch-announcer`), and put it on hold for now

but I have revived the work on #384

[2021-05-19 17:58] Bacon-Fixation commented on #556
Just wanted to let you know I have started work on this

Much Love
-Bacon

[2021-05-19 18:47] Bacon-Fixation commented on #556
Check out #563
would love some feedback <3

Thank you for posting this idea!
i hope i met your expectations
if you have any other idea don't hesitate to post them :D

Much Love
-Bacon

[2021-05-19 18:55] Bacon-Fixation commented on #544
I have concluded my endurance test and feel confident that I resolved this issue with #551

Thank You for posting this issue.
I hope to further expand the twitch commands in the future to allow it to have more than 1 streamer
and to re-enable the timers after a reboot

Much Love
-Bacon

[2021-05-20 05:11] meiaihara06 commented on #556
Thank you!!!
sure I'll test it as soon as possible!

[2021-05-21 17:23] meiaihara06 commented on #556
following up in #563
thanks again to @Bacon-Fixation
closing issue to keep things clean

[2021-05-21 17:23] #556 closed

[2021-05-23 06:14] Meszi84 opened #566 "Cloud setting"
**Explain your suggestion**
Hi. Where can I edit a cloud setting?
error message: "could not be found"

[2021-05-23 06:54] galnir commented on #566
There are no cloud settings
Can you take a screenshot of the error?

[2021-05-23 08:01] Meszi84 commented on #566
![Uploading Screenshot_20210523-100104_Discord.jpg…]()

[2021-05-23 08:02] Meszi84 commented on #566
Twitch setting

[2021-05-23 13:52] Bacon-Fixation commented on #566
Howdy @Meszi84,
 I noticed you were using `#` in the channel name
try again without it

Example `!taconfig bturbo bot-chat-room 1 none`
![image](https://user-images.githubusercontent.com/12632936/119263280-09e58700-bba4-11eb-95f8-6988d3621d72.png)

Much Love
-Bacon

[2021-05-23 14:51] Meszi84 commented on #566
Thank, it work!

[2021-05-23 14:56] Bacon-Fixation commented on #566
no problem my friend enjoy <3

Much Love
-Bacon

[2021-05-23 15:13] Bacon-Fixation commented on #566
if you have any other issues don't hesitate to post them :D

closing as issue is resolved

Much Love
-Bacon

[2021-05-23 15:13] #566 closed

[2021-05-24 15:54] Natemo6348 opened #567 "I need help"
I'm not sure if I did something wrong or if it's just a bug or what, but I can't seem to find lyrics for any song. Didn't change the code or change my API key since the last time I used it. (worked then) Can someone help me figure this out?

[2021-05-24 19:29] Bacon-Fixation commented on #567
@Natemo6348  Check out #568

They changed the web page slightly, and couldn't find the text should be good to go now :D

Much Love
-Bacon

[2021-05-24 19:33] galnir commented on #567
Merged #568, thanks Bacon for taking care of this 🥇

[2021-05-24 19:33] #567 closed

[2021-05-26 09:10] galnir commented on #544
Merged #551

[2021-05-26 09:10] #544 closed

[2021-05-28 17:11] #552 closed

[2021-05-29 00:01] TrueMB opened #569 "Update Issue Play.js"
After Updating (manually, possible that I misscopied) the play command doesnt work anymore. Tried to update the [Pull Request](https://github.com/galnir/Master-Bot/pull/564) and play command in general.

Errors that I get:
https://pastebin.com/QgznJWtF

Play Class:
https://pastebin.com/mxrmBdPT

Trying to use **play** with a playlist and songs. But throws the errors everytime.

[2021-05-29 03:13] Bacon-Fixation commented on #569
sounds like you are missing the Class `GuildData` from `index.js`

Much Love
-Bacon

[2021-05-29 14:05] TrueMB commented on #569
Hello Bacon-Fixation,

well solved the issue pretty much. Songs are now playing again. Thanks for the hint. Seems like I missed that entry....
But I still got a error with playing playlists.

After I enter **?play %playlist%** and select **playlist**, it throws an deprecated error.
The playlist starts tho. Its only the message and error that i get.

Error: https://pastebin.com/hM5UCE4b
Play.js: ht

[2021-05-29 15:16] Bacon-Fixation commented on #569
i ran your version of play.js and i dont get any warnings, make sure you dependencies are up-to-date

![image](https://user-images.githubusercontent.com/12632936/120075429-d654a200-c066-11eb-848c-02e708daecbf.png)

Much Love
-Bacon

[2021-05-29 17:52] TrueMB commented on #569
The problem was not updated Dependencies like you said. Thanks again!

[2021-05-29 17:52] #569 closed

[2021-05-29 17:52] Bacon-Fixation commented on #569
Np my friend enjoy

Much Love
-Bacon

[2021-05-30 14:05] ThatGuyJacobee opened #571 "Discord /Slash Command Support"
**Explain your suggestion**
Possibly add discord's /slash command support.
Would make commands very cool especially with the use of args within commands.
Plus, you can make global and guild commands which would be neat.

[2021-05-30 20:27] Bacon-Fixation commented on #491
seems that Stage Channels may be part of the [discord.js v13](https://github.com/monbrey/guide/blob/master/guide/additional-info/changes-in-v13.md) update along with slash commands,
still no announcement date that i can find
but i have been playing around with the github version
so far i can get the bot to join a stage channel with v13.0.1(beta),
it has been a slow learning experience as there is

[2021-05-30 22:00] Bacon-Fixation commented on #491
I have it working, but it's not a normal install procedure (until they release it)
but i really wanted a head start :D [Master-bot running discord.js v13.0.1](https://github.com/Bacon-Fixation/Master-Bot/tree/Discordjs-v12-to-v13-update)
to get running `npm install` first then need to delete the existing `./node_modules/discord.js` folder and rename `./node_modules/discord.js-v13` to `discord.js`

[2021-05-31 21:07] Bacon-Fixation commented on #571
Howdy, I did some digging, and it seems that Slash Commands are not supported by Discord.js v12
and from what little i could find

 v13 will have support and that is still in development.

I apologize for the bad news <3

Much Love
-Bacon

[2021-06-01 15:30] AayanAsim746 opened #573 "Say Command"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
Anyone can use the say command a

[2021-06-01 15:32] AayanAsim746 opened #574 "Say Command"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
Anyone can use the say Command a

[2021-06-01 15:32] #573 closed

[2021-06-01 15:49] Bacon-Fixation commented on #574
Howdy, @AayanAsim746

you can add `userPermissions: ['ADMINISTRATOR'],`

- Edited Say command for Admins only below (you can copy and paste this into say.js)
[code]
Much Love
-Bacon

[2021-06-01 17:14] AayanAsim746 commented on #574
Thx

[2021-06-01 17:30] Bacon-Fixation commented on #574
No problem my friend, enjoy <3

Much Love
-Bacon

[2021-06-01 17:30] #574 closed

[2021-06-06 17:11] TrueMB opened #575 "Play Command on specific time"
Using the Play Command with a youtube timestart in it. (f.e.: https://www.youtube.com/watch?v=_K6KA-MvXfU&t=2092s)
Its sometimes really helpful, if you got a long video and want to show only a part of it.

Getting the time seconds from the url and start the music/video on that time.
Pretty much like the music-travia Command, just not a random time.

Would be awesome if you could add that <3

[2021-06-08 05:22] ChillNotTaken opened #576 "Spotify support"
**Hey i was wondering if yall could add Spotify support like SudhanPlayz/DiscordMusic-Bot where you can do like !play (Spotify playlist link> and bot adds all the song in playlist to queue and maybe add discord-buttons support using the discord-buttons   npm**

[2021-06-08 16:56] Bacon-Fixation commented on #576
check out #444

Much Love
-Bacon

[2021-06-09 08:57] cybermagma-dev opened #577 "When I play a song it ask me the desired option to play and then shows an error that "i do not have perms not connect to your channel" even if i have given all the suitable perms to the bot"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-06-09 09:00] cybermagma-dev commented on #577
![image](https://user-images.githubusercontent.com/77920021/121325471-413b8e00-c92f-11eb-9247-f5ead54d913c.png)

[2021-06-09 09:04] cybermagma-dev commented on #577
![image](https://user-images.githubusercontent.com/77920021/121326086-d9d20e00-c92f-11eb-947d-236ec08381d6.png)

[2021-06-09 12:55] #577 closed

[2021-06-09 12:56] cybermagma-dev commented on #577
I read the previous issues its fixed now! Thanks

[2021-06-09 23:36] williameom5678 commented on #577
how did you fix it?

[2021-06-09 23:36] williameom5678 commented on #577
pls give me a hint for it...

[2021-06-10 18:32] cybermagma-dev commented on #577
Hey you just gotta delte the node modules and install it by npm i..... that's it👍🏿

[2021-06-11 12:45] cybermagma-dev opened #578 "music-trivia songs"
**Explain your suggestion**
Hey !can you tell that the how can we update the songs of the music trivia as i find out that they repeat after sometime and are not random .....pls tell .... Thanks!

[2021-06-11 14:01] Bacon-Fixation commented on #578
look in `/Master-Bot/resources/music/musictrivia.json`

Much Love
-Bacon

[2021-06-11 14:38] cybermagma-dev commented on #578
So I have to add it manually know?

[2021-06-11 15:35] galnir commented on #578
Yes

[2021-06-11 15:42] galnir commented on #561
I don't think you should be able to mention using the 'say' command. If I'll change my mind I will add the ability to do so in the future

[2021-06-11 15:42] #561 closed

[2021-06-11 18:20] cybermagma-dev commented on #578
Ok thanks

[2021-06-11 18:44] #578 closed

[2021-06-13 15:50] williameom5678 commented on #577
oh.

[2021-06-15 13:08] rafaeldamasceno commented on #575
Maybe related to #134

[2021-06-15 13:19] rafaeldamasceno opened #579 "Resume doesn't work if bot has been paused for a long time"
**Describe the bug**
If you pause the bot and let it sit there for a long time (5~10 minutes), when you try to resume the song, it doesn't play anything.

**To reproduce**
Steps to reproduce the behavior:
1. Queue and play any song
1. Pause using the button or the pause command
1. Do nothing for some time
1. Resume using the button or the resume comand

**Expected behavior**
Bot resumes playing th

[2021-06-18 07:21] TrueMB commented on #575
Start like the following #445
The time should be possible to get from the String with a splitter.

[2021-06-25 06:07] cybermagma-dev opened #580 "Error 404 on playing music"
On playing music from the bot there is an error coming
![image](https://user-images.githubusercontent.com/77920021/123377374-9f13db00-d5a9-11eb-95f8-b28571c2e609.png)

Pls tell how i can solve it/

[2021-06-25 13:17] galnir commented on #580
YouTube changed their API and it broke [ytdl-core](https://github.com/fent/node-ytdl-core/issues/945).
I'll update ytdl-core's version once they update it (supposed to be soon)

[2021-06-26 10:52] galnir commented on #580
Pull the new commit and hit ```npm i``` :)

[2021-06-26 10:52] #580 closed

[2021-06-26 11:08] galnir commented on #579
Hey @rafaeldamasceno, sorry for the late response.
I failed to replicate this issue. I paused the music for 8 minutes then hit resume and the music was playing again instantly.
@Bacon-Fixation can you try to replicate this?

[2021-06-28 14:45] RealYusufIsmail opened #581 "I tried to use it in my bot the command does not work"
https://github.com/RealYusufIsmail/Moderationbot-with-other-features this is the link.

[2021-07-01 04:43] Sinomaru opened #582 "Cannot join channel when use play command"
I already enable all permission but still error

Here is the error
![Screenshot_2021-07-01-11-38-31-1-1](https://user-images.githubusercontent.com/65635989/124065730-8b60ec80-da61-11eb-8c25-9bf2bdcc5912.png)

[2021-07-01 06:28] #581 closed

[2021-07-01 08:38] ProtectorYT364 opened #583 "Help"
How to use this bot in Repl.it help

[2021-07-01 16:01] #583 closed

[2021-07-01 16:02] ProtectorYT364 commented on #582
Yep same bug

[2021-07-02 17:15] galnir commented on #575
Added in 37799f9

[2021-07-02 17:15] #575 closed

[2021-07-02 17:33] galnir commented on #582
@Sinomaru Did you generate a valid YouTube API key?

[2021-07-02 18:13] galnir commented on #579
@rafaeldamasceno It's actually working for me now for some reason, is it still not resuming for you?

Also related:
@Bacon-Fixation Is there a reason for disabling the reaction buttons after 10 minutes?

[2021-07-02 20:42] Bacon-Fixation commented on #579
It was so it didnt leave reaction open when left in a pause state

[2021-07-02 22:59] Sinomaru commented on #582
Yea i already put valid youtube API Key

[2021-07-04 16:02] ProtectorYT364 commented on #582
I Putted a Valid Key

[2021-07-04 18:12] Alan-Wen-3344 opened #584 "Remind feature can't be continued after the bot is restarted"
All reminders will be deleted after the bot is shut down, is there a way to let the bot keep counting down when the bot is running up again?

[2021-07-04 18:17] galnir commented on #584
In the near future the data will be saved on a database and this won't happen

[2021-07-04 22:57] Alan-Wen-3344 commented on #582
Having the same issue, the YT API is valid and python 2.7 & node v14.16 are installed.

[2021-07-05 03:57] xFaithNation commented on #582
I am having the same issue, anyone know a fix?

[2021-07-05 08:57] rafaeldamasceno commented on #582
@galnir Because I hadn't seen anyone else complain, I thought this was only a problem on my end. However, since 4afc402b27b1947d31ed496e4612488a23b47ee8, I haven't been able to run the bot with Node.js LTS. I suspect it has something to do with the `@discordjs/opus` module upgrade. Using Node.js Current works.

[2021-07-06 17:25] galnir commented on #582
@xFaithNation @Sinomaru @Alan-Wen-3344 @ProtectorYT364

Please pull the new changes (the console.error commit) and take a screenshot of the error that pops up in the console

[2021-07-06 17:27] galnir commented on #579
Are you able to replicate this issue?

[2021-07-06 17:35] Bacon-Fixation commented on #579
nah, i haven't been able to.

[2021-07-06 22:39] rafaeldamasceno commented on #582
I also have the same bug, but the reason might be totally different:
![image](https://user-images.githubusercontent.com/6492427/124674409-94631b00-deb2-11eb-90eb-3e4dd4012485.png)

For me, this is the stack trace:
[code]

This is very interesting... It confirms my suspicion that somehow the opus module is not building correctly, but this is also because I'm running this with the Dockerfile on my R

[2021-07-07 19:18] galnir commented on #582
In your case the error was thrown because of a failed opus build
I'm waiting for the other users to post screenshots of the error they're getting in console to determine what's causing this for them

[2021-07-08 16:00] galnir commented on #579
@rafaeldamasceno Are you still experiencing this?

[2021-07-08 19:21] galnir commented on #466
Implemented in 1e41e4a
Lemme know if you encounter bugs

[2021-07-08 19:21] #466 closed

[2021-07-09 11:08] rafaeldamasceno commented on #579
Yes, I still have the issue. I put a timer for 12 minutes and resume didn't work.

https://user-images.githubusercontent.com/6492427/125069052-23885280-e0ae-11eb-8585-a67708b67b68.mov

When trying to record the video, I accidentally paused and resumed again and *then* it worked, albeit with a weird issue where it skipped for all the time it should have been playing after the first resume but didn'

[2021-07-09 13:39] galnir commented on #579
@rafaeldamasceno Did you try to resume using the resume command or the resume emoji?
Also were you able to use other music commands when it happened?

[2021-07-09 16:52] rafaeldamasceno commented on #579
I always used the message commands. Here's a workflow of how I reproduced it and recorded it on the following video:

1. Play a song.
2. Pause the song and wait 5 minutes. Use np to check timestamp (1:07).
3. Resume the song. Nothing happens. Wait for a little bit and check timestamp with np (1:07). It's the same as if the song hasn't been resumed.
4. What I have discovered today is that if you fi

[2021-07-11 08:51] starklite1 opened #588 "lyrics messed up after hosting it into heroku"
the codes running fine on visual code but sometimes need twice or more caused fetching lyrics problem when finding any lyrics. while after hosting it into heroku without changing anything of the codes it wont working so correctly anymore and always got notif fetching problem from bot message.

[2021-07-11 22:56] Alan-Wen-3344 commented on #582
It's working with node v16.4.2 for me, but not resume the music after pause. (it still says "Song resumed!" without any errors)
Even I play another song it won't play either. (it did show "Now Playing" embed)

[2021-07-19 13:34] Whirl21 opened #589 "Someone copied your script"
Hello there this is not a bug report but a report ..
someone copied your script
they also copied a lot of scripts so yeah
you can sue them
here is the link
https://github.com/TeamRainbowDevs/advanced-music-bot/

[2021-07-19 17:57] galnir commented on #589
If that user claims the entire codebase as his work he probably can't code a bot :(
Thanks for letting me know tho @Whirl21 👍

[2021-07-19 17:57] #589 closed

[2021-07-19 18:04] galnir commented on #588
@starklite1
It sounds like the key you're using in heroku is wrong, because there is nothing that prevents the lyrics command from working in heroku

[2021-07-19 18:07] galnir commented on #579
@rafaeldamasceno
I tested this in different Node versions and came to a conclusion that newer Node 14 versions break the resume command. I suggest you to downgrade your Node version to v14.15.4 (the one I'm using), and after discord.js releases v13 and their new discord.js/voice library I will make sure to use them to solve this

[2021-07-20 05:38] Whirl21 commented on #589
yes he is a skid
and not a problem

[2021-07-20 10:41] Angelic-System opened #590 "cant run the bot on raspberrian os 64bit"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-07-20 15:38] Bacon-Fixation commented on #590
https://github.com/galnir/Master-Bot/wiki/Running-the-bot-on-a-Raspberry-Pi

looks like the compiler is missing to build the bindings
check out the instructions on the wiki

Much Love
-Bacon

[2021-07-21 14:36] Availyx opened #591 "how to find the help command"
I have been trying to disable the help command because I cannot edit it, so I saw the other posts and I couldn't see it in index.js, can you help me. this is the post I read https://github.com/galnir/Master-Bot/issues/81, but I can't seem to find the command in line 45

[2021-07-21 19:10] minhocaBr opened #592 "new external commands?"
hello, i would like to know if it is possible to add new commands to the bot file.

I just tried to add the .JS file, but the bot doesn't recognize the command when it's used

![image](https://user-images.githubusercontent.com/86444245/126545987-e2ffc770-1b4f-4d13-a57b-dc5918247b89.png)

[2021-07-21 19:48] galnir commented on #591
I edited the comment in #81, it's now line 67

[2021-07-21 19:50] galnir commented on #592
Any command you want to add has to be written using the [Commando](https://discord.js.org/#/docs/commando/master/general/welcome) framework, it needs to follow the same pattern every command in this repo follows (extend the Command class)

[2021-07-21 20:05] minhocaBr commented on #592
ok, i think i understand a lot of it.
sorry but i'm pretty new in this area.
could you add a new command or show me how to do it?

if you can that would be the file in question.

i apologize for the inconvenience 😁
[clear.zip](https://github.com/galnir/Master-Bot/files/6858497/clear.zip)

[2021-07-22 02:20] Bacon-Fixation commented on #592
hello there,

just looked at your file and its a version of the `commands/other/prune.js` that is already in Master-Bot that deletes messages
without the notification of action embed being deleted after 90 seconds

you can edit the message outputs to your preferred language of choice

Much Love
-Bacon

[2021-07-22 02:44] Bacon-Fixation commented on #588
@galnir just a heads-up that the lyrics command no longer works.
Genius lyrics changed stuff again, and I can't seem to find it

Much Love
-Bacon

[2021-07-22 06:53] galnir commented on #588
@Bacon-Fixation I'll look into it

[2021-07-22 07:36] #591 closed

[2021-07-23 15:29] galnir commented on #588
fixed in 621a6f6

[2021-07-23 15:29] #588 closed

[2021-07-24 10:34] galnir commented on #576
The bot now supports Spotify URLs (By converting them to YouTube URLs) :tada:

[2021-07-24 10:34] #576 closed

[2021-07-24 11:37] galnir commented on #582
read my last comment on #579

[2021-07-24 11:37] #582 closed

[2021-08-03 21:38] joshydevelopment opened #593 "play command and say command"
say commands allows users to speak in locked channels.
etc. news, announcements, updates

and play command often fails, saying it doesn't have the required permissions to join voice
although the channel is open, and the bot has administrator

[2021-08-12 15:09] Scopoo opened #594 "French translation"
Hello, I would like to translate your entire bot into French
I have translated almost everything but I would like to modify the "help" command but I can't find the file where the command is stored
I know you have other things but can you help me please?

[2021-08-12 16:53] #594 closed

[2021-08-12 17:09] galnir commented on #594
@Scopoo I'm in the process of rewriting the bot using discord.js v13
After it's done it would be great if you could translate to French

[2021-08-12 17:33] Scopoo opened #595 "Translation"
Send me a message when v13 is released

[2021-08-13 22:53] Natemo6348 commented on #491
well, I just found out that commando is now deprecated because discord.js v13 does not have structures, what could this mean for the future of Master-Bot?

[2021-08-13 23:00] galnir commented on #491
I'm rewriting the bot without a framework, should be ready soon

[2021-08-13 23:09] Natemo6348 commented on #491
oh ok, nice, cant wait!

[2021-08-24 12:21] xMdb commented on #571
it do be out doe

[2021-08-24 13:17] galnir commented on #571
I had to rewrite the entire music system because discordjs v13 breaks the entire bot (every bot actually)
I'll push most of the features very soon

[2021-08-24 21:11] alonalibarmn opened #596 "how to fix"
C:\Users\karaddaddy\Desktop\friendsserver\dj\node_modules\ytdl-core\lib\info.js:75
      throw Error(`Error parsing info: ${err.message}`);
            ^

Error: Error parsing info: Unable to retrieve video metadata
    at getWatchPage (C:\Users\karaddaddy\Desktop\friendsserver\dj\node_modules\ytdl-core\lib\info.js:75:13)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

[2021-08-27 12:30] huangdangwibu opened #598 "crowdin"
i would like to translate the bot

[2021-08-29 08:53] galnir commented on #598
To what language?

[2021-08-29 12:50] huangdangwibu commented on #598
vietnamese

[2021-08-29 20:21] ChickenIQ opened #599 "Pause | Resume Feature BUG"
**To Reproduce**
Steps to reproduce the behavior:
1. Pause the song
2. Resume the song

**Expected behavior**
The song will not resume until you pause and resume again.

[2021-08-29 20:34] galnir commented on #599
#597 should be merged soon and this issue doesn't occur there

[2021-08-29 20:34] #599 closed

[2021-08-30 22:36] galnir commented on #596
Try using the new version of the bot and let me know if the issue persists

[2021-08-30 22:36] #596 closed

[2021-08-30 22:37] galnir opened #601 "Features to be added back"
- [x] paginated embeds
- [x] music trivia
- [x] lyrics
- [ ] volume
- [ ] guild commands
- [ ] speedrun commands (1/2)
- [ ] connect4 game
- [x] reddit command
- [ ] tic-tac-toe game
- [x] tv-show-search command
- [ ] twitch feature
- [x] news commands
- [x] game-search command
- [x] remind feature

[2021-08-31 06:21] PRINCE-HERE commented on #262
Uh hi 👋🏻 First of all thanks for this repostiry so much! U rly appreciate your hard work! I wanted to ask that how to remove that unknown command thingy. I already removed the help command. But idk how to remove that unknown command thingy. I've Read #81 carefully but idk about the unknown command thingy

[2021-08-31 08:16] galnir commented on #262
Yeah as I wrote there you need to add 'unknownCommand' property and set it to false:
```.registerDefaultCommands({ eval: false, prefix: false, commandState: false, help: false, unknownCommand: false })```

You're also welcome to take a look at the new version of the bot I released yesterday, it uses new features like slash commands and select menus

[2021-08-31 08:24] PRINCE-HERE commented on #262
Oh Thanks for your help! Well I'm facing a new problem. I can't hear Music in the music-trivia and when I jist play a song the bot can't join the vc (it have administrator) but still says I don't have perms to join ur vc.

[2021-08-31 08:52] galnir commented on #262
Did you install everything I listed in the requirements?

[2021-08-31 10:36] PRINCE-HERE commented on #262
I added all the api keys. I use repl So I don't need to download those node.js and raspberry?

[2021-08-31 14:52] PRINCE-HERE opened #602 "Where's prefix?"
Where do I set prefix? In config.json or in env? Or what should be the name? "PREFIX"? "prefix"? "Prefix"? What should it be

[2021-08-31 17:28] galnir commented on #602
If you're on the master branch there is no need to set a prefix, Discord has a new feature called 'slash commands'.
You simply type / in chat and a menu opens with the available commands you can use

[2021-08-31 17:35] PRINCE-HERE commented on #602
Oh okay thanks!

[2021-08-31 17:36] #602 closed

[2021-08-31 20:02] ChickenIQ opened #603 "Bot does not start"
**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps provided on the Github page.
2. node index.js

**Expected behavior**
You get the following error:
Started refreshing application (/) commands.
Successfully reloaded application (/) commands.
/home/chickeniq/Desktop/Master-Bot/node_modules/discord.js/src/client/websocket/WebSocketManager.js:244
        throw new Error(WSCodes[err

[2021-08-31 20:05] ChickenIQ opened #604 "Tidal support"
Tidal support.
https://tidal.com/

Friends have requested this for some reason.

[2021-08-31 20:16] galnir commented on #603
You need to enable intents in the "Bot" page in the Discord developer portal

[2021-09-01 03:12] MrUnstable opened #605 "Passive bot"
**Describe the bug**
I really don't know if this is supposed to happen but after following every single step (even multiple times with reinstalling different versions of Node.js) bot is just T-posing ( *being passive* ) lets put it like that >.>
whats confusing me is the fact that bot is online but i cant call it with / nor ! ... spent almost an hour tryin out different API keys , versions of node

[2021-09-01 05:19] cybermagma-dev commented on #605
for what purpose are you using mongo db

[2021-09-01 06:25] MrUnstable commented on #605
well, honestly i don't know xd i just saw that mongodb is needed and i wanted a lil challenge that sums it up

[2021-09-01 08:12] galnir commented on #605
MongoDB is needed for the saved playlists feature and more features that will be added in the future

[2021-09-01 08:13] galnir commented on #605
@MrUnstable When you type / in the chat do you see the menu pop up?

[2021-09-01 09:34] galnir commented on #604
I've looked into it and there is no option to get data from Tidal without paying for a subscription :/
When you play a song using a Spotify URL the bot extracts the song name and singer from the URL and searches them on YouTube, same would be with Tidal if I had the option to get data from them

[2021-09-01 09:34] #604 closed

[2021-09-01 12:09] ChickenIQ opened #606 "Adding entire spotify playlists at once."
The ability to add entire Spotify playlists with a single command using the "/add-to-playlist " command.

[2021-09-01 12:30] galnir commented on #606
Will be implemented, thanks for the suggestion

[2021-09-01 18:02] MrUnstable commented on #605
Nope theres no options from bot just vanilla discord built ins i invited other bots just to see if my disc is bugged or something but they showed up in /

![Screenshot_18](https://user-images.githubusercontent.com/37300966/131720661-599c2b0e-8941-42b8-8496-5d8771c5db94.png)

[2021-09-01 18:13] galnir commented on #605
And the bot is online in that exact same server you opened the menu in?

[2021-09-01 19:32] galnir commented on #605
@MrUnstable
Kick your bot from the server and follow this [guide step by step](https://discordjs.guide/preparations/adding-your-bot-to-servers.html#creating-and-using-your-invite-link). You may have enabled or disabled something when you created your bot in the developer portal. Lemme know if it helps you

[2021-09-01 20:10] #605 closed

[2021-09-02 00:52] JackW25 opened #607 "Adding a Prefix to Bot"
I would like to also add a prefix to the bot, I don't mind if that means I have to do some extra work, or if it means disabling slash commands. I tried sticking with v12 to keep prefix but ran into issues with hosting it on Heroku (Got a Error: Cannot find module './config.json error)

If anybody has any idea on how to do this, or how to fix that error on v12, that would be amazing!

[2021-09-02 07:11] galnir commented on #607
The old v12 branch should work for you. Can you paste the full error?

[2021-09-03 01:15] JackW25 commented on #607
Sure thing, error I got was:

2021-09-02T03:40:47.127186+00:00 heroku[worker.1]: Starting process with command `node index.js`
2021-09-02T03:40:47.818131+00:00 heroku[worker.1]: State changed from starting to up
2021-09-02T03:40:49.322447+00:00 app[worker.1]: internal/modules/cjs/loader.js:892
2021-09-02T03:40:49.322460+00:00 app[worker.1]:   throw err;
2021-09-02T03:40:49.322461+00:00 app[worker.

[2021-09-03 12:03] ChickenIQ opened #608 "LeaveTimeOut not working."
The bot does not leave after the set time.

The current config:
{
  "playLiveStreams": true,
  "playVideosLongerThan1Hour": true,
  "maxQueueLength": 1000,
  "AutomaticallyShuffleYouTubePlaylists": true,
  "LeaveTimeOut": 300,
  "MaxResponseTime": 30,
  "deleteOldPlayMessage": true
}

[2021-09-03 12:04] ChickenIQ commented on #608
This does not always happen but I got reports of the bot staying in a channel hours at a time.

[2021-09-03 12:18] ChickenIQ opened #609 "/shuffleplay"
A command that automatically shuffles the playlist you play.

EX:
/shuffleplay https://open.spotify.com/playlist/ASpotifyPlaylist

This would do the same thing as /play but skipping the need to do /shuffle.

[2021-09-03 13:25] #603 closed

[2021-09-03 14:50] galnir commented on #609
You can add -s at the end of the play query to shuffle to shuffle

/play youtubelink.com -s

[2021-09-03 14:50] #609 closed

[2021-09-03 17:22] ChickenIQ opened #610 "/play command bug"
/play command breaks when selecting the cancel option in the song picker.

Error:
DiscordAPIError: Unknown Message
    at RequestHandler.execute (/home/pi/Music-Bot-JSV13/node_modules/discord.js/src/rest/RequestHandler.js:298:13)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at async RequestHandler.push (/home/pi/Music-Bot-JSV13/node_modules/discord.js/src/rest/Requ

[2021-09-03 17:52] ishitajs commented on #610
I have Issues with play command too
[code]
When running the play command, bot is displaying select menu with undefined as options. Once we selected something it pops the above error in console and this is crashing the entire bot..
![](https://cdn.discordapp.com/attachments/883408234625515560/883408331828506724/unknown.png)

[2021-09-03 18:24] #610 closed

[2021-09-03 18:27] galnir commented on #610
@ChickenIQ Pull the new changes it should be solved

@ishitajs Did you generate a valid API key?

[2021-09-03 19:37] JackW25 commented on #607
The config.json is in the root directory. That's odd why it's giving the error. I've reinstalled all the files and done it again just in case, will let you know how that goes.

[2021-09-03 19:47] JackW25 commented on #607
Another update, redoing did not work, but it started to work once I removed config.json from the .gitignore file. Thanks for all the help though, really is an awesome bot!

[2021-09-03 20:06] #607 closed

[2021-09-03 21:45] ChickenIQ opened #611 "/fuckoff"
An alternative to /leave

Reasons:
Yes.

[2021-09-04 05:43] ishitajs commented on #610
Yes obv i have generated my api key yesterday night

[2021-09-04 08:41] galnir commented on #611
I'll have to pass on that one

[2021-09-04 08:41] #611 closed

[2021-09-04 08:50] galnir commented on #610
@ishitajs If when you try to play a song using its YouTube URL (/play example.com) it fails, then the problem is with the API key you generated. Let me know if it also fails when you try that

[2021-09-04 19:49] PRINCE-HERE opened #612 "I get an error like Syntax error: Unexpected token '?'"
![Screenshot_2021_0902_022243](https://user-images.githubusercontent.com/86729260/132106361-30fb32b3-5c4c-46da-b89e-6e3e96e5d7c8.png)
Was it because of the v3 update? I tried to update to v3 but it didn't worked still

[2021-09-04 20:31] JackW25 opened #613 "DeleteOldPlayMessage does not delete play message"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
DeleteOldPlayMessage in options.

[2021-09-04 20:42] galnir commented on #612
Update your Node.js version to v16 (latest is 16.8.0)

[2021-09-04 20:43] galnir commented on #613
Are you on the old v12 branch or the new v13 branch?

[2021-09-05 00:04] JackW25 commented on #613
v12 Branch

[2021-09-05 09:40] galnir commented on #613
@JackW25 I'm not maintaining the old v12 branch because I focus on the new v13 branch. The old v12 branch is there for people who don't want to use the new version yet (for whatever reason). It's on my todo list to implement DeleteOldPlayMessage to the new version

[2021-09-05 18:20] JackW25 commented on #613
I see, thanks man for the reply, and awesome job with the bot!

[2021-09-05 18:20] #613 closed

[2021-09-07 09:06] PRINCE-HERE commented on #612
I use replit how do I do it?

[2021-09-07 09:12] galnir commented on #612
@PRINCE-HERE I don't use replit so look it up on Google or on their forums

[2021-09-08 02:44] imanimtiyaz commented on #612
![Screenshot 2021-09-08 104257](https://user-images.githubusercontent.com/90232327/132437972-2962da80-e290-49b6-82ad-5363ad0451b6.png

follow this link to install node.js v16:https://github.com/FlameQuard/DiscordJSv13-Tutorial

[2021-09-08 15:58] #612 closed

[2021-09-09 09:06] galnir commented on #606
added in 95be179

[2021-09-09 09:06] #606 closed

[2021-09-09 11:42] ChickenIQ opened #615 "/shuffle command bug"
If you /shuffle, while a playlist is processing the bot will crash/lockup

[2021-09-09 12:25] galnir commented on #615
should be fixed in ead4f76
let me know if it still persists in your end

[2021-09-09 12:25] #615 closed

[2021-09-10 18:53] ElectrodeYT opened #616 "Playing a spotify link results in infinite "thinking..." but does work"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-09-10 22:37] #616 closed

[2021-09-10 22:38] galnir commented on #616
Fixed in e23e9e1
@ElectrodeYT Thanks for alerting me on this 👍

[2021-09-11 09:35] ElectrodeYT opened #617 "Adding a spotify song doesnt make bot join channel and causes the play command to lock up"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-09-11 09:43] #617 closed, assigned to nobody

[2021-09-11 10:13] galnir commented on #617
@ElectrodeYT nvm I was able to reproduce the second bug. Fixed in f83080f

[2021-09-11 10:23] ElectrodeYT commented on #617
Yeah thats what i mean lol
sorry for not being clear enough

[2021-09-12 17:09] DevEvelynn opened #618 "Music Trivia Song Showing random Output"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-09-12 17:13] galnir commented on #618
You may have forgot to put a comma after a line in your config.json
If you can, take a screenshot of your config.json and **make sure to blur all your api keys**

[2021-09-12 17:35] DevEvelynn commented on #618
turns out i forgot a , after the Token

[2021-09-12 17:45] DevEvelynn commented on #618
[code]
Not sure what that means

[2021-09-12 17:51] DevEvelynn commented on #618
[code]
bot then proceded to crash

[2021-09-12 18:00] DevEvelynn commented on #618
@galnir

[2021-09-12 18:13] galnir commented on #618
This looks like it crashed after you used /dog command?

[2021-09-12 18:16] DevEvelynn commented on #618
yes

[2021-09-12 18:17] DevEvelynn commented on #618
i was doing trivia and then i did /dog then the bot go brrrrrrrrr

[2021-09-12 18:17] galnir commented on #618
I'll look into it

[2021-09-12 18:17] DevEvelynn commented on #618
ty

[2021-09-12 19:12] #618 closed

[2021-09-12 19:13] galnir commented on #618
@DevEvelynn 51495a5 should solve it for you. Let me know if it doesn't

[2021-09-12 21:11] DevEvelynn commented on #618
@galnir Also the skip in trivia doesn't work at times

[2021-09-13 03:29] shepherdwolf opened #619 "Music bot with no previous experience. Not sure what's wrong."
**Describe the bug**
After following all steps to best of abilities, encountered multiple issues. After bug-fixing most issues, which mostly stemmed from misunderstanding of instructions, am now presented with unresponsive bot showing signs that code _mostly_ worked. CMD prompt lists multiple errors (Check screenshots) and bot does not respond to commands. Bot is listed as "Watching/" instead of p

[2021-09-13 06:26] shepherdwolf commented on #619
After looking at the code, I think I know roughly where the problem is.... but my skill level is too low to fix this on my own. it has something to do with "mongo" or "Mongoose" but I cant really tell more than that. It looks like it started to run this protocol, (See attached screenshot) then got lost? Or maybe I'm just muddling things up.

![image](https://user-images.githubusercontent.com/90588

[2021-09-13 09:12] galnir commented on #619
You need to add another field in config.json:
"client_id": "your-bot-id"
make sure to add a comma where needed.
Also it looks like you didn't place a valid Mongo connection string. Did you follow the instructions on how to get one from Mongo Atlas?

[2021-09-13 11:58] DevEvelynn opened #620 "Skip in Music Trivia Will not work"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-09-13 11:59] DevEvelynn opened #621 "8 Ball Show Question"
**Explain your suggestion**
Also can the 8ball command show the question? It's more fun that way

[2021-09-13 12:04] DevEvelynn commented on #620
Also The Lyrics Command Will not Work

[2021-09-13 16:06] DevEvelynn opened #622 "Possible My SQL Option?"
**Explain your suggestion**
id love to see a MYSQL Port as my friend thought it would be cool

[2021-09-13 18:02] shepherdwolf commented on #619
I will do that as soon as I can. And the instructions didn't mention anything about a Mongo connection string or mongo atlas, though, so i did no such thing.

[2021-09-13 19:16] ElectrodeYT opened #623 "Spotify playlist causes infinite thinking"
Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't figure it out and don't have the time to read your code and find out what you did wrong.

**Describe the bug**
A clear and concise description

[2021-09-13 20:03] galnir commented on #622
The bot uses MongoDB. To rewrite it using mySQL would take too much time I don't want to spend

[2021-09-13 20:03] #622 closed

[2021-09-13 20:10] #621 closed

[2021-09-13 20:11] galnir commented on #619
The instructions on dev.to are definitely not up to date. The updated instructions are in the [README](https://github.com/galnir/Master-Bot/blob/main/README.md)

[2021-09-13 20:11] #619 closed

[2021-09-13 20:15] galnir commented on #620
1. Lyrics command works, regularly tested on different machines. Maybe your API key is invalid?
2. Skip works in trivia, also tested. You can skip a song by typing skip (will skip depends on how many people participate in the trivia and also type skip) or eliminate it by using the 'stop-trivia' command

[2021-09-13 20:58] #623 closed

[2021-09-13 20:59] galnir commented on #623
Fixed in 28b29205efcbed9aa234b7e3778c39e588f63595
Issue was that the request returns different data for albums and playlists so that needed adjustment

[2021-09-14 09:24] DevEvelynn commented on #620
Basicly I think the reason i thought it didnt work was because theres no way of telling whos skipped

[2021-09-14 09:27] DevEvelynn commented on #620
also whenever i put name & artist together thats correct the bot crashes

[2021-09-14 09:31] DevEvelynn commented on #620
![image](https://user-images.githubusercontent.com/45043402/133232557-bdbaba37-4543-46a5-8c8d-6f7857132a15.png)
[code]
container@pterodactyl~ Server marked as offline...

[2021-09-14 11:58] #620 closed

[2021-09-14 11:58] galnir commented on #620
fixed in 584dc34
thanks for notifying me about bugs @DevEvelynn :)

[2021-09-15 06:07] navidmafi commented on #608
Please follow the issue reporting template and describe version of your bot, nodejs python and your environment.
also please test with a clean installation and see if it happens there too
Thanks

[2021-09-15 14:12] DevEvelynn opened #624 "Now Playing For Songs in the queue W/ Links"
**Explain your suggestion**
It would be nice to see which version of x song is being played in the queue
by like /nowplaying

[2021-09-15 14:17] DevEvelynn commented on #620
No Problem

[2021-09-15 18:55] FrancimanLst opened #625 "The bot doesn't start"
When i try to run the command `node index.js` i get this error:

[code]
 - OS: Windows
 - Node Version(Should be v14 atleast): 14.17.6
 - Is python 2.7 installed?: yes
 - How are you hosting the bot(Locally, on a vps, heroku, glitch...): locally

I hope you can help me,
Francesco.

[2021-09-15 21:35] Bacon-Fixation commented on #625
Howdy,

with the recent discord.js v13 changes the node and python versions are different

try with Node V16  https://nodejs.org/en/download/current/
Python 3 https://www.python.org/downloads/

then run `npm ci --prodution` again

i hope this helps

Much Love
-Bacon

[2021-09-15 23:53] danielkemp017 opened #626 "Bot does not respond to any commands when online"
**Describe the bug**
Bot does not respond to any commands when online and added to a fresh sever with full admin permissions

**Screenshots**
![image](https://user-images.githubusercontent.com/50493375/133527753-dcfc13ed-a68e-4597-b1ab-6671704866f0.png)

**Desktop (please complete the following information):**
 - OS: [ Windows 10]
 - Node Version(Should be v16 atleast): 16.9.1
 - Is python 2.7 ins

[2021-09-16 00:04] Bacon-Fixation commented on #626
Howdy,
try with `/play`

with the update to discord.js v13, commands are built from discord's slash command and don't use the "!" prefix

I hope this helps

Much Love
-Bacon

[2021-09-16 00:08] danielkemp017 commented on #626
Ah that seems to work for DM ing the bot but can seem to do it in a server

[2021-09-16 00:29] Bacon-Fixation commented on #626
check out #605

" Kick your bot from the server and follow this guide [step by step](https://discordjs.guide/preparations/adding-your-bot-to-servers.html#creating-and-using-your-invite-link). You may have enabled or disabled something when you created your bot in the developer portal. "

Much Love
-Bacon

[2021-09-16 00:36] danielkemp017 commented on #626
nice one thanks for the help all good and working now

[2021-09-16 00:36] #626 closed

[2021-09-16 09:00] FrancimanLst commented on #625
Thank you for the help, now i fixed!
-Francesco

[2021-09-17 19:39] FrancimanLst commented on #625
The problem persist on Heroku and i don't any idea on how to fix it there :/

[2021-09-18 06:19] Princevikas commented on #625
im having the same error in heroku

[2021-09-18 08:13] galnir commented on #625
@FrancimanLst @Princevikas Are you sure your Node.js version in Heroku is 16+?

[2021-09-18 15:08] FrancimanLst commented on #625
@galnir I just tried to upgrade the node version to 16+ but it still giving me problem... Maybe i did something wrong, here is my package.json modified:
[code]

[2021-09-18 16:09] KiyoshiKunCool commented on #625
Just add:

"engines": {
    "node": "16.9.0"
     }

it works on my Heroku :D

[2021-09-18 17:24] FrancimanLst commented on #625
@KiyoshiKunCool Ok that worked, thank you. But now for some reasons Heroku doesn't find anymore my config.file....
[code]

[2021-09-18 20:02] Bacon-Fixation commented on #625
Howdy,

For heroku you need to add this to the `package.json`, so it will deploy useing the correct stack, python 3 is on all stacks

[code]

should look something like this then redeploy your project
![image](https://user-images.githubusercontent.com/12632936/133906999-4d924d17-c632-493e-b6c8-7ba1d9d8a08b.png)

currently testing if this will conflicts with other build methods before i make a pr
h

[2021-09-19 01:46] KiyoshiKunCool commented on #625
The "package.json" will like this:
![Ảnh chụp màn hình 2021-09-19 083513](https://user-images.githubusercontent.com/69381154/133912699-fd92866b-7fa2-45ad-80a9-06e638e00bf3.png)

And I set config the "buildpacks" like this:
(Cmd: "heroku buildpacks:set https://github.com/heroku/heroku-buildpack-nodejs#latest -a your-app" | Change "your-app" to your app name like "mastet-bot")

![Ảnh chụp màn

[2021-09-19 08:14] FrancimanLst commented on #625
I did all that again and it leaves me again with the error message 'Cannot find module './config.json'

[2021-09-19 12:52] KiyoshiKunCool commented on #625
@FrancimanLst Did you create Mongoose database and put the "mongo_URI" yet??

[2021-09-19 13:34] FrancimanLst commented on #625
@KiyoshiKunCool Yes, if i start the bot locally it works fine, the problem is when i try to do it on Heroku

[2021-09-19 15:40] kurumicute opened #628 "It runs successfully, but nothing happens"
**Expected behavior**
It runs successfully, but nothing happens

**Screenshots**
![image](https://user-images.githubusercontent.com/90886946/133933618-4dc1005e-5264-48ac-b07d-8a68dccf0524.png)
![image](https://user-images.githubusercontent.com/90886946/133933696-429c8b8c-dfee-4adc-8988-04d0cc1423b3.png)
![image](https://user-images.githubusercontent.com/90886946/133933716-d9e13608-24f8-4220-8e7e-4

[2021-09-19 16:44] MrUnstable commented on #625
Tried to recreate this whole thing and basically what fixed it for me is forking a private copy of Master-Bot , adding config.json and Procfile to private fork and turning auto deployment (main branch make sure both config and Procfile are also uploaded in main branch)

[2021-09-19 16:47] galnir commented on #625
@FrancimanLst The config.json needs to be at the root directory of the project, at the same level index.js is

[2021-09-19 16:48] galnir commented on #628
There is a new feature called slash commands. You use commands by typing / and choosing which one you want to use from the menu

[2021-09-19 16:59] kurumicute commented on #628
how can i use it?

[2021-09-19 17:06] FrancimanLst commented on #625
I'm stupid, i didn't add config.json to the fork on github... Sorry guys for bothering you and thanks for the help! Now it works and that's the worth part!

[2021-09-19 17:06] #625 closed

[2021-09-19 17:10] kurumicute commented on #628
![image](https://user-images.githubusercontent.com/90886946/133936428-c765eae5-4e3f-4a3b-8f24-a4ecb1ba3fb6.png)
When I play a youtube video, he appears this
Am I using it wrong?...

[2021-09-20 05:02] Natemo6348 commented on #628
will prefix based commands come back as well, or will it just be slash commands?

[2021-09-20 05:09] Natemo6348 commented on #628
will prefix based commands come back as well, or will it just be slash commands?

[2021-09-20 05:38] kurumicute commented on #628
just slash commands

[2021-09-20 09:08] galnir commented on #628
Slash commands are imo much better because the user can see what inputs the command expects and also it doesn't allow no inputs at all. I know some frameworks are expected to come out in the near future so I'll look into them and if it's possible to have slash commands together with prefix based commands

[2021-09-20 09:20] kurumicute commented on #628
How can I deal with this error?
I tried for a whole day and couldn't handle it...

[2021-09-20 16:13] galnir commented on #628
Did you generate a valid mongoDB URI?

[2021-09-20 17:16] kurumicute commented on #628
![image](https://user-images.githubusercontent.com/90886946/134045263-6fa16414-053f-4f70-80cb-6502795aa6f1.png)
yeah i guess

[2021-09-20 17:37] kurumicute commented on #628
![unknown](https://user-images.githubusercontent.com/90886946/134048265-bd944699-17f5-4d2c-aa78-aca51325480f.png)
yeah i guess...

[2021-09-21 17:51] ysalomon409 commented on #628
Also having this issue, I had commands working for a few minutes, but then all of a sudden the / commands didn't appear when I tried using them again.

[2021-09-21 18:51] ysalomon409 opened #633 "/play isn't working for me"
*EDIT*: After looking at some more solved issues, I think my problem may have something to do with a youtube API key, if this is the issue where would I enter my generated API key? If this isn't the solution ignore this.

Keep in mind I have no previous coding experience, I tried my best to follow the instructions and didn't change anything, other than updating some of the nodes that the console s

[2021-09-21 21:53] #633 closed

[2021-09-22 17:27] Dufhamx opened #634 "DiscordAPIError[50035]: Invalid Form Body"
j

[2021-09-23 08:18] navidmafi commented on #634
PLEASE follow the issue template and provide environment info, or reproduce steps.
How can we help you if we don't know what is causing the problem at your side?

[2021-09-23 10:20] Dufhamx commented on #634
i solved this problem. The bot works fine though. not responding to any commands

Doesn't show up in slash commands would you help me with this topic

[2021-09-23 22:38] navidmafi commented on #634
You can close the issue instead of editing your whole message with a "j".
Anyway, I hope your issue is solved.

[2021-09-25 01:15] navidmafi opened #636 "Save to playlist by reply"
Being able to save to playlist by replying the `/save-to-playlist playlistname:`  command to bot's current playing song message.

I may start to work on this, but my code may not be clean. So if someone wants to do this, please reply to this comment, that way we don't overwrite each other :D

[2021-09-25 08:42] MontejoJorge commented on #636
Great idea!

[2021-09-25 09:10] Lilakoa opened #637 "Bot started, but nothing happens"
**Describe the bug**
Hi! When bot started, i write slash (/) and i don`t see the commands of bot. When i for example write /play lol or !play lol. In console and in discord nothing happen

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Node Version(Should be v14 atleast): 16.10.0
 - Is python 2.7 installed?:yes
 - How are you hosting the bot(Locally, on a vps, heroku, gl

[2021-09-25 09:26] navidmafi commented on #637
Hi!
Did you give bot the correct permissions? Try in a new server with admin perms.
Also, try to invite the bot with "application.commands" scope enabled

![image](https://user-images.githubusercontent.com/46371349/134766564-36bf5286-34bd-47e1-84aa-5740d244c82a.png)

[2021-09-25 09:28] #634 closed

[2021-09-25 09:36] galnir commented on #628
@kurumicute Can you walk me through the steps you do to get this error?
Does it happen immediately after you /play 'songname' or does it show you the select menu and after you select it happens?

[2021-09-25 20:05] LivingLastWeek opened #638 "Bot runs and responds to commands but all commands fail"
I have the scopes and everything setup properly I believe but it's saying the interaction failed, its doing this with all commands
![Capture](https://user-images.githubusercontent.com/91373950/134784727-e01db867-aa2e-490a-8d25-477ba48eb962.PNG)

[2021-09-26 04:09] lerdy opened #639 "LeaveTimeOut not working"
**Describe the bug**
I saw some other dude had this issue opened but he didn't actually provide any info so i'm opening a different one. Sorry if that's not right..
When playing a song the bot leaves immediately instead of waiting the 300 seconds define in the options.json.

**To Reproduce**
Steps to reproduce the behavior:
1. Queue a song
2. Wait for it to finish
3. Bot leaves at the end of song

[2021-09-26 07:11] galnir commented on #639
duplicate of #608
I'll work on that soon

[2021-09-26 07:11] #639 closed

[2021-09-26 15:03] NotKyoyo commented on #638
Please do update your issue using the issue template so we could reproduce the error from our ends aswell.

- Removing your bot from the server then readding it with the proper perms.

[2021-09-27 08:45] Andrea-Miele opened #640 "Someone robbed your bot ,claiming as theirs"
Sorry I didn't know how contact you so I made a GitHub issue.
I found this: https://github.com/TeamRainbowDevs/advanced-music-bot

That's basically your code but they are claiming it as theirs

[2021-09-27 08:46] Andrea-Miele commented on #640
https://github.com/TeamRainbowDevs/advanced-music-bot/commit/e343c8437b40051c7bf390a345787f2bc541fad3

[2021-09-27 08:52] galnir commented on #640
I like how they replaced the entire contributors list with their name lol
Anyway this bot is open source so people can use it or learn from it. Sometimes these things happen and I don't really care as long as people keep learning from this repo :)

[2021-09-27 08:53] galnir commented on #624
feature added by @NotKyoyo

[2021-09-27 08:53] #624 closed

[2021-09-27 08:56] Andrea-Miele commented on #640
@galnir actually their whole organization is filled of robbed code

[2021-09-27 08:56] Andrea-Miele commented on #640
I don't think they will try to learn anything from your code

[2021-09-27 08:58] galnir commented on #640
they won't learn anything by copying code and placing their name as the author

[2021-09-27 08:58] Andrea-Miele commented on #640
Yeah lol

[2021-09-27 08:59] galnir commented on #638
@LivingLastWeek Are you getting any error in console?

[2021-09-27 20:17] CloudGirlS opened #641 "Bot not starting IDK what a problem."
So.. I trying to start the bot .. I try install everything when you posted but. Not working atll.

Can you help me ?

[2021-09-27 20:17] CloudGirlS commented on #641
![image](https://user-images.githubusercontent.com/34755374/134978971-c0682864-853c-475e-aa0f-c9ed674b17b9.png)

[2021-09-27 20:18] CloudGirlS commented on #641
![image](https://user-images.githubusercontent.com/34755374/134979084-ca2b449a-76d7-4c87-b470-3537bfc41d3e.png)

[2021-09-27 21:36] MontejoJorge commented on #641
The main branch is under development, so as indicated in the [README.md](https://github.com/galnir/Master-Bot#-the-bot-is-transitioning-from-discordjs-v12-to-v13-so-you-may-encounter-bugs-) you may encounter bugs, if you need a fully functional version use the [deprecatedv12](https://github.com/galnir/Master-Bot/tree/deprecatedv12) branch.

[2021-09-28 10:27] galnir commented on #638
Can you open a new issue and fill the template this time? The info you provide is crucial in order to help you

[2021-09-28 10:28] galnir commented on #641
@CloudGirlS You're not using Node.js v16

[2021-09-29 01:42] Sancoraa opened #642 "LeaveTimeOut not working"
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-09-29 10:25] galnir commented on #642
Duplicate of #608
I promised to look into it soon :)

[2021-09-29 10:25] #642 closed

[2021-10-02 09:56] windows10win7posreadywoeskio opened #644 "Runs successfully, but doesn't register any commands."
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-10-02 10:00] windows10win7posreadywoeskio commented on #637
This happens to me too. I enabled "applications.commands".

[2021-10-02 11:26] windows10win7posreadywoeskio commented on #644
Nevermind: Got it working.

[2021-10-02 11:26] #644 closed

[2021-10-03 17:04] galnir commented on #628
@kurumicute If the issue still persists please comment here

[2021-10-03 17:04] #628 closed

[2021-10-03 20:03] #637 closed

[2021-10-03 20:22] navidmafi commented on #637
Glad to see that resolved

[2021-10-04 18:21] chimaerra opened #649 "[Feature request/Suggestion] Soundcloud support?"
Youtube becomes a more difficult platform to use in terms of listening to music.

1. Age-restricted videos are no longer playable and that's an issue with ytdl-core and discordjs in general, I don't think anything can be done to prevent this (i.e no workarounds). Their system also flags any videos with specific tags, as an example "gachi".
2. They constantly ban videos and channels for unusual rea

[2021-10-04 18:53] chimaerra commented on #649
To give a hint as to how it's used, this repo might help: https://github.com/eritislami/evobot

play.js / config.json.example
dependencies: soundcloud-downloader + soundcloud-key-fetch

[2021-10-06 12:50] #638 closed

[2021-10-06 13:23] aetrnyx opened #650 "HacktoberFest 2021"
**Explain your suggestion**
Is there any possibility of adding `hacktoberfest-accepted` label or hacktoberfest as a topic for the repository?

[2021-10-06 13:45] #650 closed

[2021-10-11 09:30] 3DSBricker opened #651 "Issue with the /about command"
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-10-13 07:13] #584 closed

[2021-10-14 08:57] navidmafi commented on #651
I Can confirm the issue, it looks like the function should be async for memory and cpu usage calculation to be done first.

[2021-10-14 15:03] Raspberry-Turtle opened #652 "Youtube API failing 100%"
**Describe the bug**
I usually use this bot for playing Spotify links but my friends and I play a DnD campaign and we were gonna use YouTube for ambient music but it won't work, if I use the ?play (I changed the prefix) it will work fine for Spotify but not YouTube. If I type in the name of a song it just replies ":x: There was a problem searching the video you requested!"

I do have the YouTube A

[2021-10-14 17:26] slambot5 commented on #652
Call me crazy, but i thought the latest version didn't use the YoutTube API anymore. Is your bot up to date?

[2021-10-14 18:33] ElectrodeYT opened #653 "Spotify Playlist causes infinite "Processing Playlist...""
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-10-15 10:23] AyeYerMa commented on #652
Okay so I cloned the new main, configured it, says Mongo is Ready, no errors..........but nothing works, commands won't go through.
Also is it possible to change the prefix on this version, I can't seem to make it work but then I can't know since the commands don't work anyways lol

[2021-10-15 10:54] #652 closed, assigned to nobody

[2021-10-21 14:27] Bancukx opened #655 "Command ! not working"
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-10-26 04:35] bigjosh1337 opened #656 "calculate/calc command (other)"
a command that can calculate math equations

[2021-10-29 14:56] Suktod opened #658 "what is this"
/home/runner/Music-Bot/node_modules/@discordjs/rest/dist/lib/RequestManager.js:66
        const hash = this.hashes.get(`${request.method}:${routeID.bucketRoute}`) ?? `Global(${request.method}:${routeID.bucketRoute})`;
                                                                                  ^

SyntaxError: Unexpected token '?'

[2021-10-29 19:59] slambot5 commented on #658
I had an error like that last week after updates. I ended up saving the config and options file, and wiped the folder out and re-cloned it. Worked fine after

[2021-10-29 20:02] slambot5 commented on #655
The commands fail if you didn't set up the permissions correctly on discord. I had problems like that for a while before I got them right

[2021-10-29 20:02] slambot5 commented on #655
Or if you are running it off of a 32-bit OS, I also had problems with it

[2021-10-30 10:59] JibuxH4l0 commented on #655
i running 64 bit os

[2021-10-30 10:59] JibuxH4l0 commented on #655
where is permission?, in discord developers?

[2021-10-30 11:17] JibuxH4l0 commented on #655
Please help me :(

[2021-10-30 12:15] galnir commented on #655
Can you please fill the issue template? You left it blank. To be able to help you it would be helpful to know the OS you're running and your Node.js version

[2021-10-30 12:16] galnir commented on #658
Are you running Node.js v16+ ?

[2021-10-30 12:26] JibuxH4l0 commented on #655
Windows 10 64 bit os
Node js v16.6.0
Npm 7.19.1

[2021-10-30 12:33] galnir commented on #655
Run a fresh clone of this repository and make sure to give the bot all the permissions it needs. Also **make sure to enable intents in the discord developer portal**

[2021-10-30 13:23] JibuxH4l0 commented on #655
Already fresh clone and enable intents, still dont working :(

[2021-10-30 13:59] JibuxH4l0 commented on #655
i had error from this
# npm audit report

ansi-regex  >2.1.1 <5.0.1
Severity: moderate
 Inefficient Regular Expression Complexity in chalk/ansi-regex - https://github.com/advisories/GHSA-93q8-gq69-wqmw
fix available via `npm audit fix`
node_modules/strip-ansi/node_modules/ansi-regex
  strip-ansi  4.0.0 - 5.2.0
  Depends on vulnerable versions of ansi-regex
  node_modules/strip-ansi
    string-widt

[2021-10-31 19:45] galnir commented on #655
Check out the solution to [this issue](https://github.com/galnir/Master-Bot/issues/637). Maybe it also solves your problem?

[2021-11-03 04:28] Bancukx commented on #655
YESS ITS WORKING THANKS FOR HELP

[2021-11-03 07:23] #655 closed

[2021-11-20 14:51] TrueMB opened #661 "Multi Lanugages"
It would be awesome, if the Bot got a multi language Support.
Like a MessageManager (maybe even for different guilds), but mainly away from the code.
I often got the problems, if I want to update my own bot and the language is english again.

The same if I want to push something in this repo. I fixed some stuff with in the play command and added the seek option again. But since its german, it wont

[2021-11-25 09:02] #658 closed

[2021-12-01 16:26] navidmafi commented on #636
Thank _you_ for adding the feature @galnir   :D

[2021-12-01 19:26] navidmafi opened #662 "Using slash commands in private channels results in a crash"
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2021-12-03 08:40] galnir commented on #653
I've looked into it and there is no way at the moment to reduce the time it takes to convert a Spotify playlist into a Youtube playlist. I will be looking into it again in the future :)

[2021-12-03 08:40] #653 closed

[2021-12-04 19:22] galnir commented on #662
Happened to me aswell
Kick the bot and invite it again with 'application.commands' and 'bot' scopes and also with 'Administrator' checked under 'Bot Permissions'

[2021-12-04 19:22] #662 closed

[2021-12-17 08:09] mkidcqpw opened #664 "help"
at Function.executeUserEntryPoint [as runMain] (internal/modules/run_main.js:76:12) {
  code: 'MODULE_NOT_FOUND',
  requireStack: [ '/home/runner/Master-Bot-1/index.js' ]
}
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! master-bot@1.0.0 start: `node .`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the master-bot@1.0.0 start script.
npm ERR! This is probably not a problem with npm. There i

[2021-12-17 10:25] galnir commented on #664
You need to run ```npm install```

[2021-12-23 21:30] #664 closed

[2021-12-25 11:59] #601 closed

[2021-12-25 12:00] galnir opened #667 "Features to be added back"
- [x] **TypeScript**
- [x] lyrics
- [x] reddit command
- [ ] play command options (LeaveTimeout etc)
- [x] saved playlists
- [ ] music trivia - need to be implemented back again after #724
- [x] volume
- [x] speedrun commands
- [x] connect4 game
- [x] tic-tac-toe game
- [x] tv-show-search command
- [x] twitch feature
- [x] news commands
- [x] game-search command
- [ ] remind feature #753
- [ ] Cro

[2021-12-25 12:01] galnir commented on #608
#667

[2021-12-25 12:01] #608 closed

[2021-12-25 12:03] galnir commented on #649
@chimaerra You can now play tracks from SoundCloud #666 :)

[2021-12-25 12:03] #649 closed

[2021-12-25 12:19] galnir commented on #598
Added to feature list #667

[2021-12-25 12:19] #598 closed

[2021-12-25 12:19] galnir commented on #661
duplicate of #598 added to feature list #667

[2021-12-25 12:19] #661 closed

[2021-12-25 12:24] comradekingu commented on #598
@huangdangwibu @galnir Crowdin is an anti-feature in all respects.
No community, far less userbase, inefficient and lackluster functionality, awful terms, and closed source software.

[2021-12-29 06:27] JackW25 opened #670 "Hosting On Heroku With Lavalink?"
Hey There,

I'm right now using the new version using Lavalink, and it's awesome, but I wasn't sure how I am able to host this bot on Heroku using Lavalink, as you need to run the java -jar Lavalink,jar, how am I able to do that on Heroku?

Thank you,
Jack

[2021-12-29 07:30] galnir commented on #670
@JackW25 Does Heroku offer a command line you can use to install packages? If yes I would try to install Java 13, place the jar file in the project's root directory and run the jar file using pm2

[2021-12-29 16:57] JackW25 commented on #670
I have checked and as far as I can see they do not offer a terminal or place to install packages.

[2021-12-30 10:06] galnir commented on #670
Is there a way to run 'docker compose' on heroku?

[2021-12-30 18:40] JackW25 commented on #670
I believe there is, I am going to double check and see if there is a way to run it.

[2021-12-30 22:56] JackW25 commented on #670
Just an update, I found (this/[https://support.something.host/en/article/lavalink-hosting-okm26z/](url) online, I'm just not sure how to connect it with my bot

Thanks again for the help man, especially considering I'm quite clueless at this stuff lol

[2021-12-31 11:07] galnir commented on #670
I'm not sure either they don't elaborate much there. If you have the option I'd host the bot on a PC using docker I think that's your best option. There's a guide in the 'wiki' tab here that explains how to go through with that.
Free hosting tiers from Heroku and Replit don't have much memory so they'll just run out of it so that's why they're not recommended for hosting discord bots. They're grea

[2022-01-01 08:53] KiyoshiKunCool opened #671 "Another way to host lavalink for hosting bot on Heroku"
Hi everyone, I've found another way to host the lavalink by using [repl.it](https://replit.com/)

[![Host lavalink on Repl.it](https://repl.it/badge/github/DarrenOfficial/lavalink-replit)](https://repl.it/github/DarrenOfficial/lavalink-replit)

# Instruction for **lavalink**
- Clicking the button above, signing up or logging in and waiting for repl.it creates your lavalink project
- Once everythin

[2022-01-01 09:00] KiyoshiKunCool commented on #671
@JackW25 This is for you, my friend :3

[2022-01-01 19:50] JackW25 commented on #671
Thank you so much! I got everything working okay except I get this error with lavalink:

ERROR 328 --- [  XNIO-1 task-1] l.server.io.HandshakeInterceptorImpl     : Authentication failed from /172.18.0.1:57894

Was wondering if you know anything about that,
aside from that issue though, everything is working as it should, thank you again!

[2022-01-01 22:01] KiyoshiKunCool commented on #671
@JackW25 You need to run the bot and it'll connect to lavalink on replit. If you connect successful, the replit console should show the handle of your discord bot (I use `/play` to play my favourite song :3)

![Screenshot](https://user-images.githubusercontent.com/69381154/147860939-9572f679-2c21-441a-9533-6b169437ba2a.png)

✍**Note:** It'll show `Authentication failed from...` per an hour because

[2022-01-02 00:51] JackW25 commented on #671
I still seem to get the error

Error: Error: connect ETIMEDOUT 35.186.245.55:433
    at Connection._onerror (C:\Users\user\Documents\GitHub\Rainure\node_modules\lavaclient\dist\lib\node\Connection.js:127:33)
    at WebSocket.onError (C:\Users\user\Documents\GitHub\Rainure\node_modules\ws\lib\event-target.js:220:18)

Aside from that everything seems to be as it should in replit console, I'm not sur

[2022-01-02 08:21] galnir commented on #671
Make sure you run the Lavalink server before running the bot

[2022-01-02 08:22] galnir commented on #670
#671

[2022-01-02 08:22] #670 closed

[2022-01-02 19:29] JackW25 commented on #671
Hey there, seems to work all good, if it's possible to run this by you quickly, I seem to get this error whenever I try and start the bot,

/app/node_modules/lavaclient/dist/lib/cluster/Cluster.js:23
this.userId ??= user && (0, Utils_1.getId)(user);
                  ^^^
SyntaxError: Unexpected token '??='
at wrapSafe (internal/modules/cjs/loader.js:1001:16)
at Module._compile (internal/modules/cj

[2022-01-02 20:08] galnir commented on #671
What Node version are you running?
```node -v```

[2022-01-03 03:55] JackW25 commented on #671
v16.13.0

[2022-01-03 04:12] KiyoshiKunCool commented on #671
@JackW25 Did you add `node` into `package.json` (if you're host the bot on heroku) like this?
![Screenshot](https://user-images.githubusercontent.com/69381154/147899198-2b6281a4-0efb-4730-b8c8-53c5ce026187.png)

[2022-01-03 05:19] JackW25 commented on #671
That managed to fix the issue, thank you!

Thank you @galnir and @KiyoshiKunCool for your help, I know you guys are probably tired of all the issues I've been having lol, but thank you all for the help,  the new Lavalink update is awesome and I am excited to see what more this project will have.

I now feel happy that my issue is solved, you may reclose the issue if you wish.

Thanks again,
Jack

[2022-01-03 05:39] KiyoshiKunCool commented on #671
Glad to help you :3 ☺
#KiyoshiKunCool

[2022-01-03 05:39] #671 closed

[2022-01-03 08:13] galnir commented on #671
@KiyoshiKunCool Thanks for taking the time to write this helpful guide!
I'm pinning this issue so more people can benefit from it :)

[2022-01-03 08:15] galnir commented on #598
Do you know any good alternatives?

[2022-01-03 08:50] comradekingu commented on #598
@galnir
There is sadly only one good alternative called Weblate,
and all of the other Discord projects are on https://hosted.weblate.org/hosting/
Translatewiki is in the running, but it has Google Analytics.

[2022-01-03 12:17] AyeYerMa opened #673 "Crashing when playing a spotify song."
### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified code and added features and now it's not working right. This is because I can't

[2022-01-03 12:32] galnir commented on #673
@AyeYerMa
When you invited the bot, did you make sure to check 'application.commands' under OAuth2 > URL generator?

[2022-01-03 13:31] AyeYerMa commented on #673
Yeah I have, it can play YouTube links just fine it just crashes immediately upon trying to play a Spotify link.
The previous version of the bot that doesn't use lavalink can still play Spotify tracks fine but I'd rather the bot be up to date, luckily I still kept the old bot because in case something like this happened.

[2022-01-03 13:36] galnir commented on #673
@AyeYerMa Can you share the error you're getting in Node? I can't see it fully on the video

[2022-01-03 13:39] AyeYerMa commented on #673
Yep, here ya go, I'm currently in the process of just cloning the bot again in case I missed any steps which I undoubtedly have lol

D:\Hooty Latest>node index.js
Started refreshing application (/) commands.
w[50035]: Invalid Form Body
guild_id[NUMBER_TYPE_COERCE]: Value "undefined" is not snowflake.
    at Z.runRequest (D:\Hooty Latest\node_modules\@discordjs\rest\dist\index.js:7:581)
    at proc

[2022-01-03 13:41] galnir commented on #673
You have to wait like 5 minutes for the commands to register

[2022-01-03 13:48] galnir commented on #673
Actually no, I've made a mistake in index.js. I forgot to register the commands globally and not in a specific guild(I use it for testing)
Make sure the guild id you've placed in your config json is the same guild id you use the bot in

[2022-01-03 13:52] AyeYerMa commented on #673
I haven't got a guild ID in my config.json, only my client ID, how would I go about adding a guild ID to it?
Would it just be "guild_id": "####",  ?

[2022-01-03 13:54] galnir commented on #673
@AyeYerMa Yeah and don't add a , if it's the last property in your config.json

[2022-01-03 13:59] AyeYerMa commented on #673
Ok so that fixed the error on node but it still crashes when trying to play a link to a spotify song, gonna kick and reinvite the bot see if that changes anything

[2022-01-03 14:02] AyeYerMa commented on #673
OMG I forgot there's two readme's, I was following the one on here instead of the one in the actual bot -_-
Excuse my idiocy please lol

[2022-01-03 14:05] galnir commented on #673
@AyeYerMa Add both keys and you're good to go :)

[2022-01-03 14:08] AyeYerMa commented on #673
Yes it's working great now, thank you and keep up the good work, I noticed this version of the bot has higher audio quality and can handle higher volumes without distortion too which is very welcome lol

[2022-01-03 14:08] #673 closed

[2022-01-03 14:59] galnir commented on #673
Yeah that's why I rewrote the music system using lavalink

[2022-01-22 16:57] Ben-Lillie opened #675 "Error: Cannot find module index.js"
**Describe the bug**
index.js doesn't exist in the project so node cannot find index.js to run, as it's index.ts currently. I'm not sure what to do here any help would be good as I quite like this bot and have decided to update it.

**To Reproduce**
1. Clone from GitHub
2. Setup application.yml (root dir) and config.json (in src folder)
3. run `npm i`
4. run `node index.js`
5. Error

**Expected be

[2022-01-22 17:08] galnir commented on #675
I've rewritten the bot in TypeScript, it's a superset of JavaScript.
TypeScript files need to be compiled to JavaScript before running the bot

You can start the bot with ```npm run dev``` (make sure you start the Lavalink server before running the npm script)

[2022-01-22 17:21] Ben-Lillie commented on #675
Brilliant thanks for the swift reply, bot seems to run fine now. 👍

[2022-01-22 17:21] #675 closed

[2022-02-05 12:27] QuantaNeon opened #677 "Errors when i run npm run dev"
**Describe the bug**
I followed the wiki..did everything...now when i run npm run dev it says found 178 errors..

**To reprodice**
1 git clone the repo
2 run lavalink
3 do the config
4 npm run dev

**Screenshots**
![image](https://user-images.githubusercontent.com/84242952/152641970-2f1c1b73-0997-4c74-a474-ab98ea4e036e.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu
 -

[2022-02-05 13:00] liloko commented on #671
when i start the bot, i see this error: Error: Error: connect ECONNREFUSED 35.186.245.55:2333
![Снимок экрана от 2022-02-05 04-36-52](https://user-images.githubusercontent.com/78354559/152643157-8657d6fc-04e9-48bf-a636-3648d8b664ec.png)

[2022-02-05 13:06] galnir commented on #677
@QuantaNeon I accidentally changed sapphire's framework version to one that doesn't support application commands

Pull the new changes or clone the repo again and it should work

[2022-02-05 20:59] galnir commented on #671
@liloko Make sure the Lavalink server runs before you attempt to run the bot

[2022-02-06 02:56] AyeYerMa opened #678 "Index.js file missing?"
So I cloned the new bot because there'd been quite a few updates since I last did and a lot of stuff seems to be in SRC now except I don't have an index.js file and the old one won't work with the new one. I have an index.ts file should I rename it or is the readme outdated?

[2022-02-06 08:14] PhantomNimbi commented on #678
You need to run `npm run dev` after placing your `LavaLink.jar`, `config.json` and `application.json` into the `src` folder.
That seems to be how it runs now.

[2022-02-06 09:24] galnir commented on #678
@AyeYerMa I have rewritten the bot in TypeScript which is a superset of JavaScript. TypeScript files end with .ts and need to be compiled to JavaScript.

What PhantomNimbi wrote above is correct, you need to get a Lavalink.jar and application.yml in the project's root directory and move the config.json file into the src folder. I suggest you follow the README for the instructions. If you have any

[2022-02-06 10:00] #678 closed

[2022-02-07 00:02] PhantomNimbi opened #680 "Discord Bot Dashboard"
I found sometHing I think would be an interesting addition to the bot.

It's called Discord Bot Dashboard.  Here is the page for it: [DBD Docs](https://assistants.ga/dbd-docs/#/?id=dark-dashboard)

It would more or less be installed with:

[code]

Here is a Demo of how the Discord Bot Dashboard would look and feel btw [DBD Demo](https://darkdbd.assistants.ga/)

Here are some screenshots of what it

[2022-02-08 09:37] galnir commented on #680
#685

[2022-02-08 09:37] #680 closed

[2022-02-08 09:38] galnir commented on #677
If the issue still persist comment here and ill reopen the issue

[2022-02-08 09:38] #677 closed

[2022-02-12 17:05] PhantomNimbi opened #686 "Queue and Queue-History Commands Crash the Bot"
## Describe the bug
`/queue` and `/queue-history` commands crash the bot.

## To Reproduce
Steps to reproduce the behavior:
**1**. Use either the `/queue` command or the `/queue-history`

## Expected behavior
Should generate and display the queue or queue history

## Desktop
 - **OS**: AlmaLinux *(CentOS based distro similar to RockyRoad)*
 - **Node.js Version**: 16.3.1
 - **Is python 2.7 installe

[2022-02-12 21:32] #686 closed

[2022-03-17 06:41] FirezTheGreat commented on #667
you could look [here](https://github.com/FirezTheGreat/1SHOT/blob/main/commands/games) for the tictactoe and connect4 command to get some ideas.

[2022-04-02 15:59] #656 closed

[2022-04-08 00:59] PhantomNimbi opened #693 "Can't Play Music - PostgreSQL Permissions Error"
## Describe the bug
Can't play music due to `PostgreSQL` error. It keeps throwing this error:
[code]

## To Reproduce
**1**. Use the `/play` command
**2**. provide a song

## Expected behavior
It should play the song

## Screenshots
Ignore the timestamp on this response. I had the date on my PC set wrong lol.
![](https://user-images.githubusercontent.com/17615050/162343293-8f9ad3e3-ef07-44b5-b863-

[2022-04-08 05:18] amirshah2935 opened #694 "npm run dev error suspect"
Hi, im having issue after running the npm run dev where the error as below:-

PS C:\Users\Admin\Dropbox\Amir\BOT\penyanyijalanan> npm run dev

[INFO] ApplicationCommandRegistries: Initializing...
[WARN] ApplicationCommandRegistries: Failed to fetch guild commands for guild "Atyn's server" (784864401844076584). Make sure to authorize your application with the "applications.commands" scope in that g

[2022-04-09 14:52] galnir commented on #693
Try
```npx prisma db pull```

[2022-04-12 07:20] PhantomNimbi commented on #693
Didn't work...

[code]

[2022-04-12 08:19] PhantomNimbi commented on #693
hmmm looks like it never created the database in my postgesql setup....

[code]

[2022-04-14 14:25] galnir commented on #694
Did you follow the instructions in the README?

[2022-04-14 14:36] galnir commented on #693
@PhantomNimbi My bad, I forgot to add this step in the README
[code]

[2022-04-14 21:50] PhantomNimbi commented on #693
Not working. Still claiming that the user is denied access to the database.

[2022-04-15 11:32] galnir commented on #693
The DATABASE_URL env variable's name needs to be your OS's username
[code]

If that doesn't work, set the password to the os's name as well

[code]

[2022-04-17 09:03] #694 closed

[2022-04-17 23:24] Bacon-Fixation commented on #667
looks like i need to learn  some typescript :D

[2022-04-17 23:39] PhantomNimbi commented on #693
I tried that as well. No change. Still claims `user 'socket' was denied access on the database 'master-bot.public'` and I'm running it from the `socket` user.

[2022-04-18 11:37] galnir commented on #693
I looked at the screenshot you posted above and from there it seems your OS username is NimbiDiscord

[2022-04-20 08:49] PhantomNimbi commented on #693
Will test and see if that works. Not sure why it has that as the OS user when the login user wasn't that lol.

[2022-04-23 14:35] Bacon-Fixation commented on #667
is [Canvas](https://github.com/Automattic/node-canvas) to much of a pain to bring back for  tic tac toe and connect4?
i remember some installation headaches for some hosting solutions

Much Love
-Bacon

[2022-04-24 19:01] QuantaNeon opened #702 "SyntaxError: Cannot use import statement outside a module"
I have successfully dont everything to host the bot upto `npx prisma migrate dev` command
finally when i do node indes.ts

[code]

I am on ubuntu 20.04 vps
node version is azul 17

[2022-04-24 22:22] Bacon-Fixation commented on #702
pleaze fill out the bug template as it helps us with understanding the issue

### IMPORTANT : *DO NOT SKIP THIS STEPS AND DO NOT DELETE THEM. WE CAN NOT HELP YOU IF YOU DO NOT PROVIDE INFORMATION AND STEPS TO REPRODUCE*

Do not open an issue if you simply "copied" code over to your bot/another bot. This is absolutely not recommended and will cause bugs. Also do not open an issue if you modified co

[2022-04-25 05:46] QuantaNeon commented on #702
uh...what exactly do u want me to do?

[2022-04-25 07:48] QuantaNeon commented on #702
IDK what happened...but it seems to be working fine now ;-;

[2022-04-25 14:53] galnir commented on #702
You can't run TS files, they need to be compiled into JS files. You run the bot using ```npm run dev``` (all it does it compile the files to TS and runs the compiled index file)

[2022-04-25 14:53] #702 closed

[2022-04-25 14:54] galnir commented on #693
I'll check this out on my Windows machine and get back to you with a solution

[2022-04-28 07:54] galnir commented on #693
@PhantomNimbi Okay so getting Prisma to connect to a local Postgres db on Windows is a major pain. I will update the README with instructions on how to host Postgres on Heroku, it takes like 5 min to setup and runs really well and you can also use the same credentials on different machines so you have the same db no matter where you run the bot

[2022-04-28 08:38] galnir commented on #693
@PhantomNimbi Try following the new instructions and lemme know if it works :)

[2022-04-30 02:31] Bacon-Fixation commented on #667
Progress update

- -[x] #703 Speedrun Command (aka wr)

- -[ ] #705  Play Command Option inactivity timeout & Volume Command

- -[ ] #698 - Twitch Feature - Twitch Status

Much Love
-Bacon

[2022-05-02 13:22] galnir commented on #693
@PhantomNimbi Lemme know if you experienced issues getting Postgres to work on the cloud or with bacon's solution

[2022-05-02 13:22] #693 closed

[2022-05-07 04:36] PhantomNimbi commented on #693
Sorry for the late response. Just saw the updates. My PC was down.

[2022-06-06 00:01] PhantomNimbi opened #722 "Voice-Text Channel Support"
# Suggestion
I was wondering if there were plans to add in support for the new Voice-Text Channels. I've notice commands are visible in them but they seem to error out and not actually do anything?

Personally I think these would be great for the music commands but would understand if it seems a bit much. Mainly just thought I'd check and see if it is something that you guys would be interested in

[2022-06-06 00:24] Bacon-Fixation commented on #722
Discord just recently announced it on June 1st, so I'm really not sure if it is available yet.
i can play around with discord.js but i'm not sure if it has it yet,  I do see some Documents that imply it may already be in Discord.js Github release but not the stable release.

Much Love
-Bacon

[2022-06-06 08:13] Bacon-Fixation commented on #722
Something like this ?
It is possible right now with just package.json changes, although I am holding off on making a PR as I believe galnir maybe working on parts of the music feature,  and I'm not sure if it would conflict with galnir's efforts

![image](https://user-images.githubusercontent.com/12632936/172119132-c59bc38e-8250-4ea5-943b-5462c9c3bc0c.png)

Just want to let you know that is availa

[2022-06-06 16:43] PhantomNimbi opened #723 "Log File Integration - Request"
# Request

I would like to request the addition of a logging feature that will log console logs such as errors and such to a file on the system. we3 could have it create a path called `.logs` and store then make a log file named after the date of which the event was logged.

So something like: `Master-Bot/.logs/05-06-2022.log`

I believe this would be very useful for tracking errors. Right now I h

[2022-06-07 21:55] Bacon-Fixation commented on #723
Howdy,
wanted to let you know I've been working into this, but with some pretty big changes coming, it doesn't make sense to make a PR for this yet
but Using [winston](https://www.npmjs.com/package/winston)  and [d91eaab](https://github.com/galnir/Master-Bot/commit/d91eaab9ec26f5c183d9fcb1e1a4f4737bce5f69) build was able to make this really quick

[working concept](https://github.com/Bacon-Fixatio

[2022-06-09 18:26] PhantomNimbi commented on #722
Hmmm actually one possible issue. It seems that after the bot has left due to inactivity. it is unable to start playing again. I have to restart the bot to get it to play again.

[2022-06-09 21:46] Bacon-Fixation commented on #722
Thank you for the Feedback <3

will definitely check if this issue is present in the Redis Queue PR as it uses the newer discord.js library (13.8.x)
and would fulfill this request as well :D

Much Love
-Bacon

[2022-06-18 17:17] Bacon-Fixation commented on #722
Howdy @PhantomNimbi, Thank You for the suggestions.
This enhancement has been fulfilled since the #724 was merged.
If you have any more ideas or having issues, send it our way

Much Love
-Bacon

[2022-06-18 17:17] #722 closed

[2022-06-21 21:16] PhantomNimbi opened #729 "Help Command Hanging - The application did not respond"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `/help` command
2. provide any argument

**Expected behavior**
Should display the help command response.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![](https://who.is-yiffing.me/FS6d2V-bxx.png)

**Desktop (please complete the followi

[2022-06-24 00:37] PhantomNimbi commented on #729
Will have to look and see. was assuming it was there since the recent push supposedly added it but maybe not. I'll check right now.

[2022-06-24 01:31] Bacon-Fixation commented on #729
Nice! Glad to hear everything is working

If you have any other issues, feel to make a post, and we will try and sort them out  <3

Much Love
-Bacon

[2022-06-24 01:31] #729 closed

[2022-07-29 12:50] DracoMilesX opened #735 "Alternate redis settings"
While trying to start the bot with Docker it tries to connect to redis.
But so far I could find there is nowhere mentioned how to adjust the redis settings so it seems only the default options of localhost:6379 unsecured is available.

Would it be possible that we can provide a redis url and password for this instead?

 [ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379

[2022-07-31 13:48] Bacon-Fixation commented on #735
Howdy,

i am unable to test at the moment, i should be able to fully test compatibility in a few days (out of town)
welcome to try this https://github.com/Bacon-Fixation/Master-Bot/tree/redis-options

add the following to your "config.json"
[code]

these options should be optional just add the one you want

Much Love
Bacon

[2022-08-02 01:21] PhantomNimbi opened #736 "Dashboard update appears to have broke some commands"
Yo so looks like the new dashboard update has broken some commands. By the looks of it it is now failing to find the `config.json` due to invalid paths in a large amount of files.

[code]

If it helps the OS I'm seeing this issue on is `Debian 11`

[2022-08-02 08:31] DracoMilesX commented on #735
Hey Bacon,

Yup that has solved my issue indeed the redis connection refused error is gone.
Thank you.

Now it runs into a different issue but I will have to check what the cause of that is:

` node:internal/process/promises:279
             triggerUncaughtException(err, true /* fromPromise */);
             ^

 [UnhandledPromiseRejection: This error originated either by throwing inside of an asyn

[2022-08-02 09:17] galnir commented on #735
Is that the full error message you got?

[2022-08-02 09:22] galnir commented on #736
Do you get these errors in VScode as well? You shouldn't get these errors if you have a config.json file in src/

[2022-08-02 09:25] DracoMilesX commented on #735
This is the full output from the logs that I get from docker.

[code]

[2022-08-03 21:11] PhantomNimbi commented on #736
The `config.json` file is in `/src`. as for VSCode I don't have that on Debian 11 so will have to find something else to use in it's place.

[2022-08-03 21:54] #736 closed

[2022-08-04 21:08] galnir commented on #723
Do you have the time to open a PR that merges this into main? If you can't (you said something about being out of town), I'll do it myself :)

[2022-08-04 21:26] galnir commented on #723
Also thanks @PhantomNimbi for sponsoring me - means a lot to know you care about my OSS ❤️

[2022-08-06 19:31] Bacon-Fixation commented on #723
Howdy, I'm back in town (Finally!!)

I've been working on this off and on while I was out. Currently I was unable to get the sapphire ready messages or the redis errors to be in the log file .
the redis transport module for Winston has some major issues (not maintained atm)
Will post what I have once I complete some testing later on today or tomorrow

Much Love
Bacon

[2022-08-11 22:31] Bacon-Fixation commented on #723
Howdy,

Thank you again for the excellent suggestion!
#737 Logger Integration has been merged, I'm going to close this request.
If you find any bugs or have any other feature request/suggestions, please let us know :D

Much Love
-Bacon

[2022-08-11 22:31] #723 closed

[2022-08-12 07:06] Bacon-Fixation commented on #735
Howdy,
Have a look at #738 it may help with your error.
In trying to replicate your issue, I noticed the master-bot docker setup is outdated

i know this wasn't part of the original request but........... this is feature request is sorta required to update the docker method of installation.

Much Love
-Bacon

[2022-08-25 19:01] Bacon-Fixation opened #741 "Dashboard Login issue"
Found this during Docker PR testing, so I reran the current main branch. It doesn't seem to matter how I host, the issue is the same.
I'm not sure how to fix, so I'm posting an issue <3

#### Issue
* It stopped asking to log in (even when clearing browser data)
* It doesn't matter who (not bot owner) goes to `http://www.dashboard.com:3000/` (example) it shows the guilds of the bot owner only, and

[2022-08-26 14:07] galnir commented on #741
Can you try to reproduce it on the latest commit?

[2022-08-26 17:26] galnir commented on #741
Let me know if it works after the latest commit

[2022-08-26 22:08] Bacon-Fixation commented on #741
@galnir Nice, it is fixed, Thank you

Much Love
-Bacon

[2022-08-26 22:08] #741 closed

[2022-08-29 23:24] PhantomNimbi opened #744 "Dashboard URL Config Fix | Invite button not working"
The basic setup in the config doesn't allow for external connections to the dashboard. I managed to get around that by setting both Internal IP and Internet IP of my server to an A record in my Google Domain.

For people not hosting from their own PC, the only IP needed is the Public IP of the server they are using to host the bot on. But if you are hosting on your own machine setting the Internal

[2022-08-30 07:02] galnir commented on #744
I keep forgetting to take care of the invite button, hopefully I'll commit a fix today.
Getting a public URL to work is tricky because the bot, unlike the site, can't be deployed to Vercel. I'm looking into [ngrok](https://ngrok.com) and will comment here or write a short guide if it turns out good

[2022-08-30 12:46] galnir commented on #744
The invite button is now working, pull the latest changes.
Also as I wrote after I figure out the best way to get an external url working I'll write a guide :)

[2022-08-30 12:46] #744 closed

[2022-09-02 16:45] #735 closed

[2022-09-05 01:46] PhantomNimbi opened #747 "[Dashboard Error] Unhandled Runtime Error | TypeError: data.guild is null"
I'm unable to access my guild's dashboard due to the following error:

[code]

The file it claims to be in is: `src/components/DashboardLayout/DashboardLayout.tsx`.

Here is a screenshot of the error:

![Screenshot_2022-09-04_18-40-24](https://user-images.githubusercontent.com/17615050/188344311-7ee19e5a-3f23-43cc-bb8d-a9b8ad8da853.png)

[2022-09-05 02:25] PhantomNimbi commented on #747
Nevermind I got it fixed. I had to kick the bot and then re invite it.

[2022-09-05 02:25] #747 closed

[2022-09-12 13:06] TrueMB opened #748 "Error after Installation and the first boot"
Getting following error after installing the Bot on a Linux server.
NEXT_PUBLIC_INVITE_URL is set, and the client ID was changed.
Not quite sure where to look for the mistake of mine.

Dependencies should all be installed.

Errors: https://pastebin.com/0b2jyMSu

[2022-09-12 14:22] Bacon-Fixation commented on #748
Howdy, was able to replicate this error message

Make sure the `.env` is in the root folder, and run `npm run dev` in root folder.

I get this error when i try to start the dashboard and bot separately with `.env` in the wrong folder

i hope this helps

Much Love
-Bacon

[2022-09-12 18:19] PhantomNimbi opened #749 "Add Support for NEXTAUTH_URL_INTERNAL flag in the .env file"
Yo so I was looking at the nextauth docs and it looks like there's a second flag that can be passed for the internal url if your hosting on your own machine instead of a cloud server.

When provided it uses a the provided url as the internal server url but when not it defaults to the `NEXTAUTH_URL` flag. The flag is as shown below:

[code]
The docs page explains it like so:

**NEXTAUTH_URL_INTERNA